@font-face {
  font-family: 'icons0007';
  src:  url('fonts/icons0007.eot?9maia6');
  src:  url('fonts/icons0007.eot?9maia6#iefix') format('embedded-opentype'),
    url('fonts/icons0007.ttf?9maia6') format('truetype'),
    url('fonts/icons0007.woff?9maia6') format('woff'),
    url('fonts/icons0007.svg?9maia6#icons0007') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons0007' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add_photo:before {
  content: "\e900";
}
.icon-chat:before {
  content: "\e901";
}
.icon-checkmark:before {
  content: "\e902";
}
.icon-close:before {
  content: "\e903";
}
.icon-delete:before {
  content: "\e904";
}
.icon-expand:before {
  content: "\e905";
}
.icon-list_v:before {
  content: "\e906";
}
.icon-lock:before {
  content: "\e907";
}
.icon-menu:before {
  content: "\e908";
}
.icon-more:before {
  content: "\e909";
}
.icon-options:before {
  content: "\e90a";
}
.icon-pending:before {
  content: "\e90b";
}
.icon-previous:before {
  content: "\e90c";
}
.icon-profile:before {
  content: "\e90d";
}
.icon-profile2:before {
  content: "\e90e";
}
.icon-search:before {
  content: "\e90f";
}
.icon-send:before {
  content: "\e910";
}
.icon-star_e:before {
  content: "\e911";
}
.icon-star:before {
  content: "\e912";
}
.icon-thumb_v:before {
  content: "\e913";
}
.icon-Abuse:before {
  content: "\e914";
}
.icon-Arrow:before {
  content: "\e915";
}
.icon-Arrowleft:before {
  content: "\e916";
}
.icon-Arrowright:before {
  content: "\e917";
}
.icon-AvatarGroup:before {
  content: "\e918";
}
.icon-back:before {
  content: "\e919";
}
.icon-Checkbox:before {
  content: "\e91a";
}
.icon-Checkboxempty:before {
  content: "\e91b";
}
.icon-Checkmarkfull:before {
  content: "\e91c";
}
.icon-cog:before {
  content: "\e91d";
}
.icon-comments-o:before {
  content: "\e91e";
}
.icon-comments:before {
  content: "\e91f";
}
.icon-Crop:before {
  content: "\e920";
}
.icon-Delete:before {
  content: "\e921";
}
.icon-Download:before {
  content: "\e922";
}
.icon-Editprofile:before {
  content: "\e923";
}
.icon-Errorfull:before {
  content: "\e924";
}
.icon-Expand:before {
  content: "\e925";
}
.icon-eye:before {
  content: "\e926";
}
.icon-f:before {
  content: "\e927";
}
.icon-female:before {
  content: "\e928";
}
.icon-Filter:before {
  content: "\e929";
}
.icon-Goto:before {
  content: "\e92a";
}
.icon-heart-o:before {
  content: "\e92b";
}
.icon-hearth:before {
  content: "\e92c";
}
.icon-Home:before {
  content: "\e92d";
}
.icon-Hoockup:before {
  content: "\e92e";
}
.icon-Image:before {
  content: "\e92f";
}
.icon-Images:before {
  content: "\e930";
}
.icon-Largeview:before {
  content: "\e931";
}
.icon-Left:before {
  content: "\e932";
}
.icon-Left2:before {
  content: "\e933";
}
.icon-Link:before {
  content: "\e934";
}
.icon-Lock:before {
  content: "\e935";
}
.icon-m:before {
  content: "\e936";
}
.icon-Mail:before {
  content: "\e937";
}
.icon-male:before {
  content: "\e938";
}
.icon-Match:before {
  content: "\e939";
}
.icon-Menu:before {
  content: "\e93a";
}
.icon-Minus:before {
  content: "\e93b";
}
.icon-Notifications:before {
  content: "\e93c";
}
.icon-ok:before {
  content: "\e93d";
}
.icon-Online:before {
  content: "\e93e";
}
.icon-Onlinemembers:before {
  content: "\e93f";
}
.icon-picture:before {
  content: "\e940";
}
.icon-PinEmpty:before {
  content: "\e941";
}
.icon-PinFull:before {
  content: "\e942";
}
.icon-Plane:before {
  content: "\e943";
}
.icon-Plus:before {
  content: "\e944";
}
.icon-power-off:before {
  content: "\e945";
}
.icon-Premium1:before {
  content: "\e946";
}
.icon-Premium2:before {
  content: "\e947";
}
.icon-Premium3:before {
  content: "\e948";
}
.icon-question:before {
  content: "\e949";
}
.icon-Radiobutton1:before {
  content: "\e94a";
}
.icon-Radiobutton2:before {
  content: "\e94b";
}
.icon-Radiobuttonempty:before {
  content: "\e94c";
}
.icon-Redoleft:before {
  content: "\e94d";
}
.icon-Redoright:before {
  content: "\e94e";
}
.icon-remove:before {
  content: "\e94f";
}
.icon-Replayleft:before {
  content: "\e950";
}
.icon-Replayright:before {
  content: "\e951";
}
.icon-Report:before {
  content: "\e952";
}
.icon-RibbonUp:before {
  content: "\e953";
}
.icon-Ribonleft:before {
  content: "\e954";
}
.icon-Ribonright:before {
  content: "\e955";
}
.icon-Right:before {
  content: "\e956";
}
.icon-Right2:before {
  content: "\e957";
}
.icon-Search:before {
  content: "\e958";
}
.icon-Smallview:before {
  content: "\e959";
}
.icon-Smileyempty:before {
  content: "\e95a";
}
.icon-Smileyempty2:before {
  content: "\e95b";
}
.icon-Smileyfull:before {
  content: "\e95c";
}
.icon-Smileyfull2:before {
  content: "\e95d";
}
.icon-star-o:before {
  content: "\e95e";
}
.icon-star1:before {
  content: "\e95f";
}
.icon-time-full:before {
  content: "\e960";
}
.icon-time:before {
  content: "\e961";
}
.icon-Unlock:before {
  content: "\e962";
}
.icon-Upload:before {
  content: "\e963";
}
.icon-webcam:before {
  content: "\e964";
}
.icon-ZoomMax:before {
  content: "\e965";
}
.icon-ZoomMin:before {
  content: "\e966";
}
.icon-ad:before {
  content: "\e967";
}
.icon-address-book:before {
  content: "\e968";
}
.icon-address-card:before {
  content: "\e969";
}
.icon-adjust:before {
  content: "\e96a";
}
.icon-air-freshener:before {
  content: "\e96b";
}
.icon-align-center:before {
  content: "\e96c";
}
.icon-align-justify:before {
  content: "\e96d";
}
.icon-align-left:before {
  content: "\e96e";
}
.icon-align-right:before {
  content: "\e96f";
}
.icon-allergies:before {
  content: "\e970";
}
.icon-ambulance:before {
  content: "\e971";
}
.icon-american-sign-language-interpreting:before {
  content: "\e972";
}
.icon-anchor:before {
  content: "\e973";
}
.icon-angle-double-down:before {
  content: "\e974";
}
.icon-angle-double-left:before {
  content: "\e975";
}
.icon-angle-double-right:before {
  content: "\e976";
}
.icon-angle-double-up:before {
  content: "\e977";
}
.icon-angle-down:before {
  content: "\e978";
}
.icon-angle-left:before {
  content: "\e979";
}
.icon-angle-right:before {
  content: "\e97a";
}
.icon-angle-up:before {
  content: "\e97b";
}
.icon-angry:before {
  content: "\e97c";
}
.icon-ankh:before {
  content: "\e97d";
}
.icon-apple-alt:before {
  content: "\e97e";
}
.icon-archive:before {
  content: "\e97f";
}
.icon-archway:before {
  content: "\e980";
}
.icon-arrow-alt-circle-down:before {
  content: "\e981";
}
.icon-arrow-alt-circle-left:before {
  content: "\e982";
}
.icon-arrow-alt-circle-right:before {
  content: "\e983";
}
.icon-arrow-alt-circle-up:before {
  content: "\e984";
}
.icon-arrow-circle-down:before {
  content: "\e985";
}
.icon-arrow-circle-left:before {
  content: "\e986";
}
.icon-arrow-circle-right:before {
  content: "\e987";
}
.icon-arrow-circle-up:before {
  content: "\e988";
}
.icon-arrow-down:before {
  content: "\e989";
}
.icon-arrow-left:before {
  content: "\e98a";
}
.icon-arrow-right:before {
  content: "\e98b";
}
.icon-arrow-up:before {
  content: "\e98c";
}
.icon-arrows-alt-h:before {
  content: "\e98d";
}
.icon-arrows-alt-v:before {
  content: "\e98e";
}
.icon-arrows-alt:before {
  content: "\e98f";
}
.icon-assistive-listening-systems:before {
  content: "\e990";
}
.icon-asterisk:before {
  content: "\e991";
}
.icon-at:before {
  content: "\e992";
}
.icon-atlas:before {
  content: "\e993";
}
.icon-atom:before {
  content: "\e994";
}
.icon-audio-description:before {
  content: "\e995";
}
.icon-award:before {
  content: "\e996";
}
.icon-backspace:before {
  content: "\e997";
}
.icon-backward:before {
  content: "\e998";
}
.icon-balance-scale:before {
  content: "\e999";
}
.icon-ban:before {
  content: "\e99a";
}
.icon-band-aid:before {
  content: "\e99b";
}
.icon-barcode:before {
  content: "\e99c";
}
.icon-bars:before {
  content: "\e99d";
}
.icon-baseball-ball:before {
  content: "\e99e";
}
.icon-basketball-ball:before {
  content: "\e99f";
}
.icon-bath:before {
  content: "\e9a0";
}
.icon-battery-empty:before {
  content: "\e9a1";
}
.icon-battery-full:before {
  content: "\e9a2";
}
.icon-battery-half:before {
  content: "\e9a3";
}
.icon-battery-quarter:before {
  content: "\e9a4";
}
.icon-battery-three-quarters:before {
  content: "\e9a5";
}
.icon-bed:before {
  content: "\e9a6";
}
.icon-beer:before {
  content: "\e9a7";
}
.icon-bell-slash:before {
  content: "\e9a8";
}
.icon-bell:before {
  content: "\e9a9";
}
.icon-bezier-curve:before {
  content: "\e9aa";
}
.icon-bible:before {
  content: "\e9ab";
}
.icon-bicycle:before {
  content: "\e9ac";
}
.icon-binoculars:before {
  content: "\e9ad";
}
.icon-birthday-cake:before {
  content: "\e9ae";
}
.icon-blender:before {
  content: "\e9af";
}
.icon-blind:before {
  content: "\e9b0";
}
.icon-bold:before {
  content: "\e9b1";
}
.icon-bolt:before {
  content: "\e9b2";
}
.icon-bomb:before {
  content: "\e9b3";
}
.icon-bone:before {
  content: "\e9b4";
}
.icon-bong:before {
  content: "\e9b5";
}
.icon-book-open:before {
  content: "\e9b6";
}
.icon-book-reader:before {
  content: "\e9b7";
}
.icon-book:before {
  content: "\e9b8";
}
.icon-bookmark:before {
  content: "\e9b9";
}
.icon-bowling-ball:before {
  content: "\e9ba";
}
.icon-box-open:before {
  content: "\e9bb";
}
.icon-box:before {
  content: "\e9bc";
}
.icon-boxes:before {
  content: "\e9bd";
}
.icon-braille:before {
  content: "\e9be";
}
.icon-brain:before {
  content: "\e9bf";
}
.icon-briefcase-medical:before {
  content: "\e9c0";
}
.icon-briefcase:before {
  content: "\e9c1";
}
.icon-broadcast-tower:before {
  content: "\e9c2";
}
.icon-broom:before {
  content: "\e9c3";
}
.icon-brush:before {
  content: "\e9c4";
}
.icon-bug:before {
  content: "\e9c5";
}
.icon-building:before {
  content: "\e9c6";
}
.icon-bullhorn:before {
  content: "\e9c7";
}
.icon-bullseye:before {
  content: "\e9c8";
}
.icon-burn:before {
  content: "\e9c9";
}
.icon-bus-alt:before {
  content: "\e9ca";
}
.icon-bus:before {
  content: "\e9cb";
}
.icon-business-time:before {
  content: "\e9cc";
}
.icon-calculator:before {
  content: "\e9cd";
}
.icon-calendar-alt:before {
  content: "\e9ce";
}
.icon-calendar-check:before {
  content: "\e9cf";
}
.icon-calendar-minus:before {
  content: "\e9d0";
}
.icon-calendar-plus:before {
  content: "\e9d1";
}
.icon-calendar-times:before {
  content: "\e9d2";
}
.icon-calendar:before {
  content: "\e9d3";
}
.icon-camera-retro:before {
  content: "\e9d4";
}
.icon-camera:before {
  content: "\e9d5";
}
.icon-cannabis:before {
  content: "\e9d6";
}
.icon-capsules:before {
  content: "\e9d7";
}
.icon-car-alt:before {
  content: "\e9d8";
}
.icon-car-battery:before {
  content: "\e9d9";
}
.icon-car-crash:before {
  content: "\e9da";
}
.icon-car-side:before {
  content: "\e9db";
}
.icon-car:before {
  content: "\e9dc";
}
.icon-caret-down:before {
  content: "\e9dd";
}
.icon-caret-left:before {
  content: "\e9de";
}
.icon-caret-right:before {
  content: "\e9df";
}
.icon-caret-square-down:before {
  content: "\e9e0";
}
.icon-caret-square-left:before {
  content: "\e9e1";
}
.icon-caret-square-right:before {
  content: "\e9e2";
}
.icon-caret-square-up:before {
  content: "\e9e3";
}
.icon-caret-up:before {
  content: "\e9e4";
}
.icon-cart-arrow-down:before {
  content: "\e9e5";
}
.icon-cart-plus:before {
  content: "\e9e6";
}
.icon-certificate:before {
  content: "\e9e7";
}
.icon-chalkboard-teacher:before {
  content: "\e9e8";
}
.icon-chalkboard:before {
  content: "\e9e9";
}
.icon-charging-station:before {
  content: "\e9ea";
}
.icon-chart-area:before {
  content: "\e9eb";
}
.icon-chart-bar:before {
  content: "\e9ec";
}
.icon-chart-line:before {
  content: "\e9ed";
}
.icon-chart-pie:before {
  content: "\e9ee";
}
.icon-check-circle:before {
  content: "\e9ef";
}
.icon-check-double:before {
  content: "\e9f0";
}
.icon-check-square:before {
  content: "\e9f1";
}
.icon-check:before {
  content: "\e9f2";
}
.icon-chess-bishop:before {
  content: "\e9f3";
}
.icon-chess-board:before {
  content: "\e9f4";
}
.icon-chess-king:before {
  content: "\e9f5";
}
.icon-chess-knight:before {
  content: "\e9f6";
}
.icon-chess-pawn:before {
  content: "\e9f7";
}
.icon-chess-queen:before {
  content: "\e9f8";
}
.icon-chess-rook:before {
  content: "\e9f9";
}
.icon-chess:before {
  content: "\e9fa";
}
.icon-chevron-circle-down:before {
  content: "\e9fb";
}
.icon-chevron-circle-left:before {
  content: "\e9fc";
}
.icon-chevron-circle-right:before {
  content: "\e9fd";
}
.icon-chevron-circle-up:before {
  content: "\e9fe";
}
.icon-chevron-down:before {
  content: "\e9ff";
}
.icon-chevron-left:before {
  content: "\ea00";
}
.icon-chevron-right:before {
  content: "\ea01";
}
.icon-chevron-up:before {
  content: "\ea02";
}
.icon-child:before {
  content: "\ea03";
}
.icon-church:before {
  content: "\ea04";
}
.icon-circle-notch:before {
  content: "\ea05";
}
.icon-circle:before {
  content: "\ea06";
}
.icon-city:before {
  content: "\ea07";
}
.icon-clipboard-check:before {
  content: "\ea08";
}
.icon-clipboard-list:before {
  content: "\ea09";
}
.icon-clipboard:before {
  content: "\ea0a";
}
.icon-clock:before {
  content: "\ea0b";
}
.icon-clone:before {
  content: "\ea0c";
}
.icon-closed-captioning:before {
  content: "\ea0d";
}
.icon-cloud-download-alt:before {
  content: "\ea0e";
}
.icon-cloud-upload-alt:before {
  content: "\ea0f";
}
.icon-cloud:before {
  content: "\ea10";
}
.icon-cocktail:before {
  content: "\ea11";
}
.icon-code-branch:before {
  content: "\ea12";
}
.icon-code:before {
  content: "\ea13";
}
.icon-coffee:before {
  content: "\ea14";
}
.icon-cog1:before {
  content: "\ea15";
}
.icon-cogs:before {
  content: "\ea16";
}
.icon-coins:before {
  content: "\ea17";
}
.icon-columns:before {
  content: "\ea18";
}
.icon-comment-alt:before {
  content: "\ea19";
}
.icon-comment-dollar:before {
  content: "\ea1a";
}
.icon-comment-dots:before {
  content: "\ea1b";
}
.icon-comment-slash:before {
  content: "\ea1c";
}
.icon-comment:before {
  content: "\ea1d";
}
.icon-comments-dollar:before {
  content: "\ea1e";
}
.icon-comments1:before {
  content: "\ea1f";
}
.icon-compact-disc:before {
  content: "\ea20";
}
.icon-compass:before {
  content: "\ea21";
}
.icon-compress:before {
  content: "\ea22";
}
.icon-concierge-bell:before {
  content: "\ea23";
}
.icon-cookie-bite:before {
  content: "\ea24";
}
.icon-cookie:before {
  content: "\ea25";
}
.icon-copy:before {
  content: "\ea26";
}
.icon-copyright:before {
  content: "\ea27";
}
.icon-couch:before {
  content: "\ea28";
}
.icon-credit-card:before {
  content: "\ea29";
}
.icon-crop-alt:before {
  content: "\ea2a";
}
.icon-crop:before {
  content: "\ea2b";
}
.icon-cross:before {
  content: "\ea2c";
}
.icon-crosshairs:before {
  content: "\ea2d";
}
.icon-crow:before {
  content: "\ea2e";
}
.icon-crown:before {
  content: "\ea2f";
}
.icon-cube:before {
  content: "\ea30";
}
.icon-cubes:before {
  content: "\ea31";
}
.icon-cut:before {
  content: "\ea32";
}
.icon-database:before {
  content: "\ea33";
}
.icon-deaf:before {
  content: "\ea34";
}
.icon-desktop:before {
  content: "\ea35";
}
.icon-dharmachakra:before {
  content: "\ea36";
}
.icon-diagnoses:before {
  content: "\ea37";
}
.icon-dice-five:before {
  content: "\ea38";
}
.icon-dice-four:before {
  content: "\ea39";
}
.icon-dice-one:before {
  content: "\ea3a";
}
.icon-dice-six:before {
  content: "\ea3b";
}
.icon-dice-three:before {
  content: "\ea3c";
}
.icon-dice-two:before {
  content: "\ea3d";
}
.icon-dice:before {
  content: "\ea3e";
}
.icon-digital-tachograph:before {
  content: "\ea3f";
}
.icon-directions:before {
  content: "\ea40";
}
.icon-divide:before {
  content: "\ea41";
}
.icon-dizzy:before {
  content: "\ea42";
}
.icon-dna:before {
  content: "\ea43";
}
.icon-dollar-sign:before {
  content: "\ea44";
}
.icon-dolly-flatbed:before {
  content: "\ea45";
}
.icon-dolly:before {
  content: "\ea46";
}
.icon-donate:before {
  content: "\ea47";
}
.icon-door-closed:before {
  content: "\ea48";
}
.icon-door-open:before {
  content: "\ea49";
}
.icon-dot-circle:before {
  content: "\ea4a";
}
.icon-dove:before {
  content: "\ea4b";
}
.icon-download:before {
  content: "\ea4c";
}
.icon-drafting-compass:before {
  content: "\ea4d";
}
.icon-draw-polygon:before {
  content: "\ea4e";
}
.icon-drum-steelpan:before {
  content: "\ea4f";
}
.icon-drum:before {
  content: "\ea50";
}
.icon-dumbbell:before {
  content: "\ea51";
}
.icon-edit:before {
  content: "\ea52";
}
.icon-eject:before {
  content: "\ea53";
}
.icon-ellipsis-h:before {
  content: "\ea54";
}
.icon-ellipsis-v:before {
  content: "\ea55";
}
.icon-envelope-open-text:before {
  content: "\ea56";
}
.icon-envelope-open:before {
  content: "\ea57";
}
.icon-envelope-square:before {
  content: "\ea58";
}
.icon-envelope:before {
  content: "\ea59";
}
.icon-equals:before {
  content: "\ea5a";
}
.icon-eraser:before {
  content: "\ea5b";
}
.icon-euro-sign:before {
  content: "\ea5c";
}
.icon-exchange-alt:before {
  content: "\ea5d";
}
.icon-exclamation-circle:before {
  content: "\ea5e";
}
.icon-exclamation-triangle:before {
  content: "\ea5f";
}
.icon-exclamation:before {
  content: "\ea60";
}
.icon-expand-arrows-alt:before {
  content: "\ea61";
}
.icon-expand1:before {
  content: "\ea62";
}
.icon-external-link-alt:before {
  content: "\ea63";
}
.icon-external-link-square-alt:before {
  content: "\ea64";
}
.icon-eye-dropper:before {
  content: "\ea65";
}
.icon-eye-slash:before {
  content: "\ea66";
}
.icon-eye1:before {
  content: "\ea67";
}
.icon-fast-backward:before {
  content: "\ea68";
}
.icon-fast-forward:before {
  content: "\ea69";
}
.icon-fax:before {
  content: "\ea6a";
}
.icon-feather-alt:before {
  content: "\ea6b";
}
.icon-feather:before {
  content: "\ea6c";
}
.icon-female1:before {
  content: "\ea6d";
}
.icon-fighter-jet:before {
  content: "\ea6e";
}
.icon-file-alt:before {
  content: "\ea6f";
}
.icon-file-archive:before {
  content: "\ea70";
}
.icon-file-audio:before {
  content: "\ea71";
}
.icon-file-code:before {
  content: "\ea72";
}
.icon-file-contract:before {
  content: "\ea73";
}
.icon-file-download:before {
  content: "\ea74";
}
.icon-file-excel:before {
  content: "\ea75";
}
.icon-file-export:before {
  content: "\ea76";
}
.icon-file-image:before {
  content: "\ea77";
}
.icon-file-import:before {
  content: "\ea78";
}
.icon-file-invoice-dollar:before {
  content: "\ea79";
}
.icon-file-invoice:before {
  content: "\ea7a";
}
.icon-file-medical-alt:before {
  content: "\ea7b";
}
.icon-file-medical:before {
  content: "\ea7c";
}
.icon-file-pdf:before {
  content: "\ea7d";
}
.icon-file-powerpoint:before {
  content: "\ea7e";
}
.icon-file-prescription:before {
  content: "\ea7f";
}
.icon-file-signature:before {
  content: "\ea80";
}
.icon-file-upload:before {
  content: "\ea81";
}
.icon-file-video:before {
  content: "\ea82";
}
.icon-file-word:before {
  content: "\ea83";
}
.icon-file:before {
  content: "\ea84";
}
.icon-fill-drip:before {
  content: "\ea85";
}
.icon-fill:before {
  content: "\ea86";
}
.icon-film:before {
  content: "\ea87";
}
.icon-filter:before {
  content: "\ea88";
}
.icon-fingerprint:before {
  content: "\ea89";
}
.icon-fire-extinguisher:before {
  content: "\ea8a";
}
.icon-fire:before {
  content: "\ea8b";
}
.icon-first-aid:before {
  content: "\ea8c";
}
.icon-fish:before {
  content: "\ea8d";
}
.icon-flag-checkered:before {
  content: "\ea8e";
}
.icon-flag:before {
  content: "\ea8f";
}
.icon-flask:before {
  content: "\ea90";
}
.icon-flushed:before {
  content: "\ea91";
}
.icon-folder-minus:before {
  content: "\ea92";
}
.icon-folder-open:before {
  content: "\ea93";
}
.icon-folder-plus:before {
  content: "\ea94";
}
.icon-folder:before {
  content: "\ea95";
}
.icon-font:before {
  content: "\ea96";
}
.icon-football-ball:before {
  content: "\ea97";
}
.icon-forward:before {
  content: "\ea98";
}
.icon-frog:before {
  content: "\ea99";
}
.icon-frown-open:before {
  content: "\ea9a";
}
.icon-frown:before {
  content: "\ea9b";
}
.icon-funnel-dollar:before {
  content: "\ea9c";
}
.icon-futbol:before {
  content: "\ea9d";
}
.icon-gamepad:before {
  content: "\ea9e";
}
.icon-gas-pump:before {
  content: "\ea9f";
}
.icon-gavel:before {
  content: "\eaa0";
}
.icon-gem:before {
  content: "\eaa1";
}
.icon-genderless:before {
  content: "\eaa2";
}
.icon-gift:before {
  content: "\eaa3";
}
.icon-glass-martini-alt:before {
  content: "\eaa4";
}
.icon-glass-martini:before {
  content: "\eaa5";
}
.icon-glasses:before {
  content: "\eaa6";
}
.icon-globe-africa:before {
  content: "\eaa7";
}
.icon-globe-americas:before {
  content: "\eaa8";
}
.icon-globe-asia:before {
  content: "\eaa9";
}
.icon-globe:before {
  content: "\eaaa";
}
.icon-golf-ball:before {
  content: "\eaab";
}
.icon-gopuram:before {
  content: "\eaac";
}
.icon-graduation-cap:before {
  content: "\eaad";
}
.icon-greater-than-equal:before {
  content: "\eaae";
}
.icon-greater-than:before {
  content: "\eaaf";
}
.icon-grimace:before {
  content: "\eab0";
}
.icon-grin-alt:before {
  content: "\eab1";
}
.icon-grin-beam-sweat:before {
  content: "\eab2";
}
.icon-grin-beam:before {
  content: "\eab3";
}
.icon-grin-hearts:before {
  content: "\eab4";
}
.icon-grin-squint-tears:before {
  content: "\eab5";
}
.icon-grin-squint:before {
  content: "\eab6";
}
.icon-grin-stars:before {
  content: "\eab7";
}
.icon-grin-tears:before {
  content: "\eab8";
}
.icon-grin-tongue-squint:before {
  content: "\eab9";
}
.icon-grin-tongue-wink:before {
  content: "\eaba";
}
.icon-grin-tongue:before {
  content: "\eabb";
}
.icon-grin-wink:before {
  content: "\eabc";
}
.icon-grin:before {
  content: "\eabd";
}
.icon-grip-horizontal:before {
  content: "\eabe";
}
.icon-grip-vertical:before {
  content: "\eabf";
}
.icon-h-square:before {
  content: "\eac0";
}
.icon-hamsa:before {
  content: "\eac1";
}
.icon-hand-holding-heart:before {
  content: "\eac2";
}
.icon-hand-holding-usd:before {
  content: "\eac3";
}
.icon-hand-holding:before {
  content: "\eac4";
}
.icon-hand-lizard:before {
  content: "\eac5";
}
.icon-hand-paper:before {
  content: "\eac6";
}
.icon-hand-peace:before {
  content: "\eac7";
}
.icon-hand-point-down:before {
  content: "\eac8";
}
.icon-hand-point-left:before {
  content: "\eac9";
}
.icon-hand-point-right:before {
  content: "\eaca";
}
.icon-hand-point-up:before {
  content: "\eacb";
}
.icon-hand-pointer:before {
  content: "\eacc";
}
.icon-hand-rock:before {
  content: "\eacd";
}
.icon-hand-scissors:before {
  content: "\eace";
}
.icon-hand-spock:before {
  content: "\eacf";
}
.icon-hands-helping:before {
  content: "\ead0";
}
.icon-hands:before {
  content: "\ead1";
}
.icon-handshake:before {
  content: "\ead2";
}
.icon-hashtag:before {
  content: "\ead3";
}
.icon-haykal:before {
  content: "\ead4";
}
.icon-hdd:before {
  content: "\ead5";
}
.icon-heading:before {
  content: "\ead6";
}
.icon-headphones-alt:before {
  content: "\ead7";
}
.icon-headphones:before {
  content: "\ead8";
}
.icon-headset:before {
  content: "\ead9";
}
.icon-heart:before {
  content: "\eada";
}
.icon-heartbeat:before {
  content: "\eadb";
}
.icon-helicopter:before {
  content: "\eadc";
}
.icon-highlighter:before {
  content: "\eadd";
}
.icon-history:before {
  content: "\eade";
}
.icon-hockey-puck:before {
  content: "\eadf";
}
.icon-home:before {
  content: "\eae0";
}
.icon-hospital-alt:before {
  content: "\eae1";
}
.icon-hospital-symbol:before {
  content: "\eae2";
}
.icon-hospital:before {
  content: "\eae3";
}
.icon-hot-tub:before {
  content: "\eae4";
}
.icon-hotel:before {
  content: "\eae5";
}
.icon-hourglass-end:before {
  content: "\eae6";
}
.icon-hourglass-half:before {
  content: "\eae7";
}
.icon-hourglass-start:before {
  content: "\eae8";
}
.icon-hourglass:before {
  content: "\eae9";
}
.icon-i-cursor:before {
  content: "\eaea";
}
.icon-id-badge:before {
  content: "\eaeb";
}
.icon-id-card-alt:before {
  content: "\eaec";
}
.icon-id-card:before {
  content: "\eaed";
}
.icon-image:before {
  content: "\eaee";
}
.icon-images:before {
  content: "\eaef";
}
.icon-inbox:before {
  content: "\eaf0";
}
.icon-indent:before {
  content: "\eaf1";
}
.icon-industry:before {
  content: "\eaf2";
}
.icon-infinity:before {
  content: "\eaf3";
}
.icon-info-circle:before {
  content: "\eaf4";
}
.icon-info:before {
  content: "\eaf5";
}
.icon-italic:before {
  content: "\eaf6";
}
.icon-jedi:before {
  content: "\eaf7";
}
.icon-joint:before {
  content: "\eaf8";
}
.icon-journal-whills:before {
  content: "\eaf9";
}
.icon-kaaba:before {
  content: "\eafa";
}
.icon-key:before {
  content: "\eafb";
}
.icon-keyboard:before {
  content: "\eafc";
}
.icon-khanda:before {
  content: "\eafd";
}
.icon-kiss-beam:before {
  content: "\eafe";
}
.icon-kiss-wink-heart:before {
  content: "\eaff";
}
.icon-kiss:before {
  content: "\eb00";
}
.icon-kiwi-bird:before {
  content: "\eb01";
}
.icon-landmark:before {
  content: "\eb02";
}
.icon-language:before {
  content: "\eb03";
}
.icon-laptop-code:before {
  content: "\eb04";
}
.icon-laptop:before {
  content: "\eb05";
}
.icon-laugh-beam:before {
  content: "\eb06";
}
.icon-laugh-squint:before {
  content: "\eb07";
}
.icon-laugh-wink:before {
  content: "\eb08";
}
.icon-laugh:before {
  content: "\eb09";
}
.icon-layer-group:before {
  content: "\eb0a";
}
.icon-leaf:before {
  content: "\eb0b";
}
.icon-lemon:before {
  content: "\eb0c";
}
.icon-less-than-equal:before {
  content: "\eb0d";
}
.icon-less-than:before {
  content: "\eb0e";
}
.icon-level-down-alt:before {
  content: "\eb0f";
}
.icon-level-up-alt:before {
  content: "\eb10";
}
.icon-life-ring:before {
  content: "\eb11";
}
.icon-lightbulb:before {
  content: "\eb12";
}
.icon-link:before {
  content: "\eb13";
}
.icon-lira-sign:before {
  content: "\eb14";
}
.icon-list-alt:before {
  content: "\eb15";
}
.icon-list-ol:before {
  content: "\eb16";
}
.icon-list-ul:before {
  content: "\eb17";
}
.icon-list:before {
  content: "\eb18";
}
.icon-location-arrow:before {
  content: "\eb19";
}
.icon-lock-open:before {
  content: "\eb1a";
}
.icon-lock1:before {
  content: "\eb1b";
}
.icon-long-arrow-alt-down:before {
  content: "\eb1c";
}
.icon-long-arrow-alt-left:before {
  content: "\eb1d";
}
.icon-long-arrow-alt-right:before {
  content: "\eb1e";
}
.icon-long-arrow-alt-up:before {
  content: "\eb1f";
}
.icon-low-vision:before {
  content: "\eb20";
}
.icon-luggage-cart:before {
  content: "\eb21";
}
.icon-magic:before {
  content: "\eb22";
}
.icon-magnet:before {
  content: "\eb23";
}
.icon-mail-bulk:before {
  content: "\eb24";
}
.icon-male1:before {
  content: "\eb25";
}
.icon-map-marked-alt:before {
  content: "\eb26";
}
.icon-map-marked:before {
  content: "\eb27";
}
.icon-map-marker-alt:before {
  content: "\eb28";
}
.icon-map-marker:before {
  content: "\eb29";
}
.icon-map-pin:before {
  content: "\eb2a";
}
.icon-map-signs:before {
  content: "\eb2b";
}
.icon-map:before {
  content: "\eb2c";
}
.icon-marker:before {
  content: "\eb2d";
}
.icon-mars-double:before {
  content: "\eb2e";
}
.icon-mars-stroke-h:before {
  content: "\eb2f";
}
.icon-mars-stroke-v:before {
  content: "\eb30";
}
.icon-mars-stroke:before {
  content: "\eb31";
}
.icon-mars:before {
  content: "\eb32";
}
.icon-medal:before {
  content: "\eb33";
}
.icon-medkit:before {
  content: "\eb34";
}
.icon-meh-blank:before {
  content: "\eb35";
}
.icon-meh-rolling-eyes:before {
  content: "\eb36";
}
.icon-meh:before {
  content: "\eb37";
}
.icon-memory:before {
  content: "\eb38";
}
.icon-menorah:before {
  content: "\eb39";
}
.icon-mercury:before {
  content: "\eb3a";
}
.icon-microchip:before {
  content: "\eb3b";
}
.icon-microphone-alt-slash:before {
  content: "\eb3c";
}
.icon-microphone-alt:before {
  content: "\eb3d";
}
.icon-microphone-slash:before {
  content: "\eb3e";
}
.icon-microphone:before {
  content: "\eb3f";
}
.icon-microscope:before {
  content: "\eb40";
}
.icon-minus-circle:before {
  content: "\eb41";
}
.icon-minus-square:before {
  content: "\eb42";
}
.icon-minus:before {
  content: "\eb43";
}
.icon-mobile-alt:before {
  content: "\eb44";
}
.icon-mobile:before {
  content: "\eb45";
}
.icon-money-bill-alt:before {
  content: "\eb46";
}
.icon-money-bill-wave-alt:before {
  content: "\eb47";
}
.icon-money-bill-wave:before {
  content: "\eb48";
}
.icon-money-bill:before {
  content: "\eb49";
}
.icon-money-check-alt:before {
  content: "\eb4a";
}
.icon-money-check:before {
  content: "\eb4b";
}
.icon-monument:before {
  content: "\eb4c";
}
.icon-moon:before {
  content: "\eb4d";
}
.icon-mortar-pestle:before {
  content: "\eb4e";
}
.icon-mosque:before {
  content: "\eb4f";
}
.icon-motorcycle:before {
  content: "\eb50";
}
.icon-mouse-pointer:before {
  content: "\eb51";
}
.icon-music:before {
  content: "\eb52";
}
.icon-neuter:before {
  content: "\eb53";
}
.icon-newspaper:before {
  content: "\eb54";
}
.icon-not-equal:before {
  content: "\eb55";
}
.icon-notes-medical:before {
  content: "\eb56";
}
.icon-object-group:before {
  content: "\eb57";
}
.icon-object-ungroup:before {
  content: "\eb58";
}
.icon-oil-can:before {
  content: "\eb59";
}
.icon-om:before {
  content: "\eb5a";
}
.icon-outdent:before {
  content: "\eb5b";
}
.icon-paint-brush:before {
  content: "\eb5c";
}
.icon-paint-roller:before {
  content: "\eb5d";
}
.icon-palette:before {
  content: "\eb5e";
}
.icon-pallet:before {
  content: "\eb5f";
}
.icon-paper-plane:before {
  content: "\eb60";
}
.icon-paperclip:before {
  content: "\eb61";
}
.icon-parachute-box:before {
  content: "\eb62";
}
.icon-paragraph:before {
  content: "\eb63";
}
.icon-parking:before {
  content: "\eb64";
}
.icon-passport:before {
  content: "\eb65";
}
.icon-pastafarianism:before {
  content: "\eb66";
}
.icon-paste:before {
  content: "\eb67";
}
.icon-pause-circle:before {
  content: "\eb68";
}
.icon-pause:before {
  content: "\eb69";
}
.icon-paw:before {
  content: "\eb6a";
}
.icon-peace:before {
  content: "\eb6b";
}
.icon-pen-alt:before {
  content: "\eb6c";
}
.icon-pen-fancy:before {
  content: "\eb6d";
}
.icon-pen-nib:before {
  content: "\eb6e";
}
.icon-pen-square:before {
  content: "\eb6f";
}
.icon-pen:before {
  content: "\eb70";
}
.icon-pencil-alt:before {
  content: "\eb71";
}
.icon-pencil-ruler:before {
  content: "\eb72";
}
.icon-people-carry:before {
  content: "\eb73";
}
.icon-percent:before {
  content: "\eb74";
}
.icon-percentage:before {
  content: "\eb75";
}
.icon-phone-slash:before {
  content: "\eb76";
}
.icon-phone-square:before {
  content: "\eb77";
}
.icon-phone-volume:before {
  content: "\eb78";
}
.icon-phone:before {
  content: "\eb79";
}
.icon-piggy-bank:before {
  content: "\eb7a";
}
.icon-pills:before {
  content: "\eb7b";
}
.icon-place-of-worship:before {
  content: "\eb7c";
}
.icon-plane-arrival:before {
  content: "\eb7d";
}
.icon-plane-departure:before {
  content: "\eb7e";
}
.icon-plane:before {
  content: "\eb7f";
}
.icon-play-circle:before {
  content: "\eb80";
}
.icon-play:before {
  content: "\eb81";
}
.icon-plug:before {
  content: "\eb82";
}
.icon-plus-circle:before {
  content: "\eb83";
}
.icon-plus-square:before {
  content: "\eb84";
}
.icon-plus:before {
  content: "\eb85";
}
.icon-podcast:before {
  content: "\eb86";
}
.icon-poll-h:before {
  content: "\eb87";
}
.icon-poll:before {
  content: "\eb88";
}
.icon-poo:before {
  content: "\eb89";
}
.icon-poop:before {
  content: "\eb8a";
}
.icon-portrait:before {
  content: "\eb8b";
}
.icon-pound-sign:before {
  content: "\eb8c";
}
.icon-power-off1:before {
  content: "\eb8d";
}
.icon-pray:before {
  content: "\eb8e";
}
.icon-praying-hands:before {
  content: "\eb8f";
}
.icon-prescription-bottle-alt:before {
  content: "\eb90";
}
.icon-prescription-bottle:before {
  content: "\eb91";
}
.icon-prescription:before {
  content: "\eb92";
}
.icon-print:before {
  content: "\eb93";
}
.icon-procedures:before {
  content: "\eb94";
}
.icon-project-diagram:before {
  content: "\eb95";
}
.icon-puzzle-piece:before {
  content: "\eb96";
}
.icon-qrcode:before {
  content: "\eb97";
}
.icon-question-circle:before {
  content: "\eb98";
}
.icon-question1:before {
  content: "\eb99";
}
.icon-quidditch:before {
  content: "\eb9a";
}
.icon-quote-left:before {
  content: "\eb9b";
}
.icon-quote-right:before {
  content: "\eb9c";
}
.icon-quran:before {
  content: "\eb9d";
}
.icon-random:before {
  content: "\eb9e";
}
.icon-receipt:before {
  content: "\eb9f";
}
.icon-recycle:before {
  content: "\eba0";
}
.icon-redo-alt:before {
  content: "\eba1";
}
.icon-redo:before {
  content: "\eba2";
}
.icon-registered:before {
  content: "\eba3";
}
.icon-reply-all:before {
  content: "\eba4";
}
.icon-reply:before {
  content: "\eba5";
}
.icon-retweet:before {
  content: "\eba6";
}
.icon-ribbon:before {
  content: "\eba7";
}
.icon-road:before {
  content: "\eba8";
}
.icon-robot:before {
  content: "\eba9";
}
.icon-rocket:before {
  content: "\ebaa";
}
.icon-route:before {
  content: "\ebab";
}
.icon-rss-square:before {
  content: "\ebac";
}
.icon-rss:before {
  content: "\ebad";
}
.icon-ruble-sign:before {
  content: "\ebae";
}
.icon-ruler-combined:before {
  content: "\ebaf";
}
.icon-ruler-horizontal:before {
  content: "\ebb0";
}
.icon-ruler-vertical:before {
  content: "\ebb1";
}
.icon-ruler:before {
  content: "\ebb2";
}
.icon-rupee-sign:before {
  content: "\ebb3";
}
.icon-sad-cry:before {
  content: "\ebb4";
}
.icon-sad-tear:before {
  content: "\ebb5";
}
.icon-save:before {
  content: "\ebb6";
}
.icon-school:before {
  content: "\ebb7";
}
.icon-screwdriver:before {
  content: "\ebb8";
}
.icon-search-dollar:before {
  content: "\ebb9";
}
.icon-search-location:before {
  content: "\ebba";
}
.icon-search-minus:before {
  content: "\ebbb";
}
.icon-search-plus:before {
  content: "\ebbc";
}
.icon-search1:before {
  content: "\ebbd";
}
.icon-seedling:before {
  content: "\ebbe";
}
.icon-server:before {
  content: "\ebbf";
}
.icon-shapes:before {
  content: "\ebc0";
}
.icon-share-alt-square:before {
  content: "\ebc1";
}
.icon-share-alt:before {
  content: "\ebc2";
}
.icon-share-square:before {
  content: "\ebc3";
}
.icon-share:before {
  content: "\ebc4";
}
.icon-shekel-sign:before {
  content: "\ebc5";
}
.icon-shield-alt:before {
  content: "\ebc6";
}
.icon-ship:before {
  content: "\ebc7";
}
.icon-shipping-fast:before {
  content: "\ebc8";
}
.icon-shoe-prints:before {
  content: "\ebc9";
}
.icon-shopping-bag:before {
  content: "\ebca";
}
.icon-shopping-basket:before {
  content: "\ebcb";
}
.icon-shopping-cart:before {
  content: "\ebcc";
}
.icon-shower:before {
  content: "\ebcd";
}
.icon-shuttle-van:before {
  content: "\ebce";
}
.icon-sign-in-alt:before {
  content: "\ebcf";
}
.icon-sign-language:before {
  content: "\ebd0";
}
.icon-sign-out-alt:before {
  content: "\ebd1";
}
.icon-sign:before {
  content: "\ebd2";
}
.icon-signal:before {
  content: "\ebd3";
}
.icon-signature:before {
  content: "\ebd4";
}
.icon-sitemap:before {
  content: "\ebd5";
}
.icon-skull:before {
  content: "\ebd6";
}
.icon-sliders-h:before {
  content: "\ebd7";
}
.icon-smile-beam:before {
  content: "\ebd8";
}
.icon-smile-wink:before {
  content: "\ebd9";
}
.icon-smile:before {
  content: "\ebda";
}
.icon-smoking-ban:before {
  content: "\ebdb";
}
.icon-smoking:before {
  content: "\ebdc";
}
.icon-snowflake:before {
  content: "\ebdd";
}
.icon-socks:before {
  content: "\ebde";
}
.icon-solar-panel:before {
  content: "\ebdf";
}
.icon-sort-alpha-down:before {
  content: "\ebe0";
}
.icon-sort-alpha-up:before {
  content: "\ebe1";
}
.icon-sort-amount-down:before {
  content: "\ebe2";
}
.icon-sort-amount-up:before {
  content: "\ebe3";
}
.icon-sort-down:before {
  content: "\ebe4";
}
.icon-sort-numeric-down:before {
  content: "\ebe5";
}
.icon-sort-numeric-up:before {
  content: "\ebe6";
}
.icon-sort-up:before {
  content: "\ebe7";
}
.icon-sort:before {
  content: "\ebe8";
}
.icon-spa:before {
  content: "\ebe9";
}
.icon-space-shuttle:before {
  content: "\ebea";
}
.icon-spinner:before {
  content: "\ebeb";
}
.icon-splotch:before {
  content: "\ebec";
}
.icon-spray-can:before {
  content: "\ebed";
}
.icon-square-full:before {
  content: "\ebee";
}
.icon-square-root-alt:before {
  content: "\ebef";
}
.icon-square:before {
  content: "\ebf0";
}
.icon-stamp:before {
  content: "\ebf1";
}
.icon-star-and-crescent:before {
  content: "\ebf2";
}
.icon-star-half-alt:before {
  content: "\ebf3";
}
.icon-star-half:before {
  content: "\ebf4";
}
.icon-star-of-david:before {
  content: "\ebf5";
}
.icon-star-of-life:before {
  content: "\ebf6";
}
.icon-star2:before {
  content: "\ebf7";
}
.icon-step-backward:before {
  content: "\ebf8";
}
.icon-step-forward:before {
  content: "\ebf9";
}
.icon-stethoscope:before {
  content: "\ebfa";
}
.icon-sticky-note:before {
  content: "\ebfb";
}
.icon-stop-circle:before {
  content: "\ebfc";
}
.icon-stop:before {
  content: "\ebfd";
}
.icon-stopwatch:before {
  content: "\ebfe";
}
.icon-store-alt:before {
  content: "\ebff";
}
.icon-store:before {
  content: "\ec00";
}
.icon-stream:before {
  content: "\ec01";
}
.icon-street-view:before {
  content: "\ec02";
}
.icon-strikethrough:before {
  content: "\ec03";
}
.icon-stroopwafel:before {
  content: "\ec04";
}
.icon-subscript:before {
  content: "\ec05";
}
.icon-subway:before {
  content: "\ec06";
}
.icon-suitcase-rolling:before {
  content: "\ec07";
}
.icon-suitcase:before {
  content: "\ec08";
}
.icon-sun:before {
  content: "\ec09";
}
.icon-superscript:before {
  content: "\ec0a";
}
.icon-surprise:before {
  content: "\ec0b";
}
.icon-swatchbook:before {
  content: "\ec0c";
}
.icon-swimmer:before {
  content: "\ec0d";
}
.icon-swimming-pool:before {
  content: "\ec0e";
}
.icon-synagogue:before {
  content: "\ec0f";
}
.icon-sync-alt:before {
  content: "\ec10";
}
.icon-sync:before {
  content: "\ec11";
}
.icon-syringe:before {
  content: "\ec12";
}
.icon-table-tennis:before {
  content: "\ec13";
}
.icon-table:before {
  content: "\ec14";
}
.icon-tablet-alt:before {
  content: "\ec15";
}
.icon-tablet:before {
  content: "\ec16";
}
.icon-tablets:before {
  content: "\ec17";
}
.icon-tachometer-alt:before {
  content: "\ec18";
}
.icon-tag:before {
  content: "\ec19";
}
.icon-tags:before {
  content: "\ec1a";
}
.icon-tape:before {
  content: "\ec1b";
}
.icon-tasks:before {
  content: "\ec1c";
}
.icon-taxi:before {
  content: "\ec1d";
}
.icon-teeth-open:before {
  content: "\ec1e";
}
.icon-teeth:before {
  content: "\ec1f";
}
.icon-terminal:before {
  content: "\ec20";
}
.icon-text-height:before {
  content: "\ec21";
}
.icon-text-width:before {
  content: "\ec22";
}
.icon-th-large:before {
  content: "\ec23";
}
.icon-th-list:before {
  content: "\ec24";
}
.icon-th:before {
  content: "\ec25";
}
.icon-theater-masks:before {
  content: "\ec26";
}
.icon-thermometer-empty:before {
  content: "\ec27";
}
.icon-thermometer-full:before {
  content: "\ec28";
}
.icon-thermometer-half:before {
  content: "\ec29";
}
.icon-thermometer-quarter:before {
  content: "\ec2a";
}
.icon-thermometer-three-quarters:before {
  content: "\ec2b";
}
.icon-thermometer:before {
  content: "\ec2c";
}
.icon-thumbs-down:before {
  content: "\ec2d";
}
.icon-thumbs-up:before {
  content: "\ec2e";
}
.icon-thumbtack:before {
  content: "\ec2f";
}
.icon-ticket-alt:before {
  content: "\ec30";
}
.icon-times-circle:before {
  content: "\ec31";
}
.icon-times:before {
  content: "\ec32";
}
.icon-tint-slash:before {
  content: "\ec33";
}
.icon-tint:before {
  content: "\ec34";
}
.icon-tired:before {
  content: "\ec35";
}
.icon-toggle-off:before {
  content: "\ec36";
}
.icon-toggle-on:before {
  content: "\ec37";
}
.icon-toolbox:before {
  content: "\ec38";
}
.icon-tooth:before {
  content: "\ec39";
}
.icon-torah:before {
  content: "\ec3a";
}
.icon-torii-gate:before {
  content: "\ec3b";
}
.icon-trademark:before {
  content: "\ec3c";
}
.icon-traffic-light:before {
  content: "\ec3d";
}
.icon-train:before {
  content: "\ec3e";
}
.icon-transgender-alt:before {
  content: "\ec3f";
}
.icon-transgender:before {
  content: "\ec40";
}
.icon-trash-alt:before {
  content: "\ec41";
}
.icon-trash:before {
  content: "\ec42";
}
.icon-tree:before {
  content: "\ec43";
}
.icon-trophy:before {
  content: "\ec44";
}
.icon-truck-loading:before {
  content: "\ec45";
}
.icon-truck-monster:before {
  content: "\ec46";
}
.icon-truck-moving:before {
  content: "\ec47";
}
.icon-truck-pickup:before {
  content: "\ec48";
}
.icon-truck:before {
  content: "\ec49";
}
.icon-tshirt:before {
  content: "\ec4a";
}
.icon-tty:before {
  content: "\ec4b";
}
.icon-tv:before {
  content: "\ec4c";
}
.icon-umbrella-beach:before {
  content: "\ec4d";
}
.icon-umbrella:before {
  content: "\ec4e";
}
.icon-underline:before {
  content: "\ec4f";
}
.icon-undo-alt:before {
  content: "\ec50";
}
.icon-undo:before {
  content: "\ec51";
}
.icon-universal-access:before {
  content: "\ec52";
}
.icon-university:before {
  content: "\ec53";
}
.icon-unlink:before {
  content: "\ec54";
}
.icon-unlock-alt:before {
  content: "\ec55";
}
.icon-unlock:before {
  content: "\ec56";
}
.icon-upload:before {
  content: "\ec57";
}
.icon-user-alt-slash:before {
  content: "\ec58";
}
.icon-user-alt:before {
  content: "\ec59";
}
.icon-user-astronaut:before {
  content: "\ec5a";
}
.icon-user-check:before {
  content: "\ec5b";
}
.icon-user-circle:before {
  content: "\ec5c";
}
.icon-user-clock:before {
  content: "\ec5d";
}
.icon-user-cog:before {
  content: "\ec5e";
}
.icon-user-edit:before {
  content: "\ec5f";
}
.icon-user-friends:before {
  content: "\ec60";
}
.icon-user-graduate:before {
  content: "\ec61";
}
.icon-user-lock:before {
  content: "\ec62";
}
.icon-user-md:before {
  content: "\ec63";
}
.icon-user-minus:before {
  content: "\ec64";
}
.icon-user-ninja:before {
  content: "\ec65";
}
.icon-user-plus:before {
  content: "\ec66";
}
.icon-user-secret:before {
  content: "\ec67";
}
.icon-user-shield:before {
  content: "\ec68";
}
.icon-user-slash:before {
  content: "\ec69";
}
.icon-user-tag:before {
  content: "\ec6a";
}
.icon-user-tie:before {
  content: "\ec6b";
}
.icon-user-times:before {
  content: "\ec6c";
}
.icon-user:before {
  content: "\ec6d";
}
.icon-users-cog:before {
  content: "\ec6e";
}
.icon-users:before {
  content: "\ec6f";
}
.icon-utensil-spoon:before {
  content: "\ec70";
}
.icon-utensils:before {
  content: "\ec71";
}
.icon-vector-square:before {
  content: "\ec72";
}
.icon-venus-double:before {
  content: "\ec73";
}
.icon-venus-mars:before {
  content: "\ec74";
}
.icon-venus:before {
  content: "\ec75";
}
.icon-vial:before {
  content: "\ec76";
}
.icon-vials:before {
  content: "\ec77";
}
.icon-video-slash:before {
  content: "\ec78";
}
.icon-video:before {
  content: "\ec79";
}
.icon-vihara:before {
  content: "\ec7a";
}
.icon-volleyball-ball:before {
  content: "\ec7b";
}
.icon-volume-down:before {
  content: "\ec7c";
}
.icon-volume-off:before {
  content: "\ec7d";
}
.icon-volume-up:before {
  content: "\ec7e";
}
.icon-walking:before {
  content: "\ec7f";
}
.icon-wallet:before {
  content: "\ec80";
}
.icon-warehouse:before {
  content: "\ec81";
}
.icon-weight-hanging:before {
  content: "\ec82";
}
.icon-weight:before {
  content: "\ec83";
}
.icon-wheelchair:before {
  content: "\ec84";
}
.icon-wifi:before {
  content: "\ec85";
}
.icon-window-close:before {
  content: "\ec86";
}
.icon-window-maximize:before {
  content: "\ec87";
}
.icon-window-minimize:before {
  content: "\ec88";
}
.icon-window-restore:before {
  content: "\ec89";
}
.icon-wine-glass-alt:before {
  content: "\ec8a";
}
.icon-wine-glass:before {
  content: "\ec8b";
}
.icon-won-sign:before {
  content: "\ec8c";
}
.icon-wrench:before {
  content: "\ec8d";
}
.icon-x-ray:before {
  content: "\ec8e";
}
.icon-yen-sign:before {
  content: "\ec8f";
}
.icon-yin-yang:before {
  content: "\ec90";
}
.icon-address-book1:before {
  content: "\ec91";
}
.icon-address-card1:before {
  content: "\ec92";
}
.icon-angry1:before {
  content: "\ec93";
}
.icon-arrow-alt-circle-down1:before {
  content: "\ec94";
}
.icon-arrow-alt-circle-left1:before {
  content: "\ec95";
}
.icon-arrow-alt-circle-right1:before {
  content: "\ec96";
}
.icon-arrow-alt-circle-up1:before {
  content: "\ec97";
}
.icon-bell-slash1:before {
  content: "\ec98";
}
.icon-bell1:before {
  content: "\ec99";
}
.icon-bookmark1:before {
  content: "\ec9a";
}
.icon-building1:before {
  content: "\ec9b";
}
.icon-calendar-alt1:before {
  content: "\ec9c";
}
.icon-calendar-check1:before {
  content: "\ec9d";
}
.icon-calendar-minus1:before {
  content: "\ec9e";
}
.icon-calendar-plus1:before {
  content: "\ec9f";
}
.icon-calendar-times1:before {
  content: "\eca0";
}
.icon-calendar1:before {
  content: "\eca1";
}
.icon-caret-square-down1:before {
  content: "\eca2";
}
.icon-caret-square-left1:before {
  content: "\eca3";
}
.icon-caret-square-right1:before {
  content: "\eca4";
}
.icon-caret-square-up1:before {
  content: "\eca5";
}
.icon-chart-bar1:before {
  content: "\eca6";
}
.icon-check-circle1:before {
  content: "\eca7";
}
.icon-check-square1:before {
  content: "\eca8";
}
.icon-circle1:before {
  content: "\eca9";
}
.icon-clipboard1:before {
  content: "\ecaa";
}
.icon-clock1:before {
  content: "\ecab";
}
.icon-clone1:before {
  content: "\ecac";
}
.icon-closed-captioning1:before {
  content: "\ecad";
}
.icon-comment-alt1:before {
  content: "\ecae";
}
.icon-comment-dots1:before {
  content: "\ecaf";
}
.icon-comment1:before {
  content: "\ecb0";
}
.icon-comments2:before {
  content: "\ecb1";
}
.icon-compass1:before {
  content: "\ecb2";
}
.icon-copy1:before {
  content: "\ecb3";
}
.icon-copyright1:before {
  content: "\ecb4";
}
.icon-credit-card1:before {
  content: "\ecb5";
}
.icon-dizzy1:before {
  content: "\ecb6";
}
.icon-dot-circle1:before {
  content: "\ecb7";
}
.icon-edit1:before {
  content: "\ecb8";
}
.icon-envelope-open1:before {
  content: "\ecb9";
}
.icon-envelope1:before {
  content: "\ecba";
}
.icon-eye-slash1:before {
  content: "\ecbb";
}
.icon-eye2:before {
  content: "\ecbc";
}
.icon-file-alt1:before {
  content: "\ecbd";
}
.icon-file-archive1:before {
  content: "\ecbe";
}
.icon-file-audio1:before {
  content: "\ecbf";
}
.icon-file-code1:before {
  content: "\ecc0";
}
.icon-file-excel1:before {
  content: "\ecc1";
}
.icon-file-image1:before {
  content: "\ecc2";
}
.icon-file-pdf1:before {
  content: "\ecc3";
}
.icon-file-powerpoint1:before {
  content: "\ecc4";
}
.icon-file-video1:before {
  content: "\ecc5";
}
.icon-file-word1:before {
  content: "\ecc6";
}
.icon-file1:before {
  content: "\ecc7";
}
.icon-flag1:before {
  content: "\ecc8";
}
.icon-flushed1:before {
  content: "\ecc9";
}
.icon-folder-open1:before {
  content: "\ecca";
}
.icon-folder1:before {
  content: "\eccb";
}
.icon-frown-open1:before {
  content: "\eccc";
}
.icon-frown1:before {
  content: "\eccd";
}
.icon-futbol1:before {
  content: "\ecce";
}
.icon-gem1:before {
  content: "\eccf";
}
.icon-grimace1:before {
  content: "\ecd0";
}
.icon-grin-alt1:before {
  content: "\ecd1";
}
.icon-grin-beam-sweat1:before {
  content: "\ecd2";
}
.icon-grin-beam1:before {
  content: "\ecd3";
}
.icon-grin-hearts1:before {
  content: "\ecd4";
}
.icon-grin-squint-tears1:before {
  content: "\ecd5";
}
.icon-grin-squint1:before {
  content: "\ecd6";
}
.icon-grin-stars1:before {
  content: "\ecd7";
}
.icon-grin-tears1:before {
  content: "\ecd8";
}
.icon-grin-tongue-squint1:before {
  content: "\ecd9";
}
.icon-grin-tongue-wink1:before {
  content: "\ecda";
}
.icon-grin-tongue1:before {
  content: "\ecdb";
}
.icon-grin-wink1:before {
  content: "\ecdc";
}
.icon-grin1:before {
  content: "\ecdd";
}
.icon-hand-lizard1:before {
  content: "\ecde";
}
.icon-hand-paper1:before {
  content: "\ecdf";
}
.icon-hand-peace1:before {
  content: "\ece0";
}
.icon-hand-point-down1:before {
  content: "\ece1";
}
.icon-hand-point-left1:before {
  content: "\ece2";
}
.icon-hand-point-right1:before {
  content: "\ece3";
}
.icon-hand-point-up1:before {
  content: "\ece4";
}
.icon-hand-pointer1:before {
  content: "\ece5";
}
.icon-hand-rock1:before {
  content: "\ece6";
}
.icon-hand-scissors1:before {
  content: "\ece7";
}
.icon-hand-spock1:before {
  content: "\ece8";
}
.icon-handshake1:before {
  content: "\ece9";
}
.icon-hdd1:before {
  content: "\ecea";
}
.icon-heart1:before {
  content: "\eceb";
}
.icon-hospital1:before {
  content: "\ecec";
}
.icon-hourglass1:before {
  content: "\eced";
}
.icon-id-badge1:before {
  content: "\ecee";
}
.icon-id-card1:before {
  content: "\ecef";
}
.icon-image1:before {
  content: "\ecf0";
}
.icon-images1:before {
  content: "\ecf1";
}
.icon-keyboard1:before {
  content: "\ecf2";
}
.icon-kiss-beam1:before {
  content: "\ecf3";
}
.icon-kiss-wink-heart1:before {
  content: "\ecf4";
}
.icon-kiss1:before {
  content: "\ecf5";
}
.icon-laugh-beam1:before {
  content: "\ecf6";
}
.icon-laugh-squint1:before {
  content: "\ecf7";
}
.icon-laugh-wink1:before {
  content: "\ecf8";
}
.icon-laugh1:before {
  content: "\ecf9";
}
.icon-lemon1:before {
  content: "\ecfa";
}
.icon-life-ring1:before {
  content: "\ecfb";
}
.icon-lightbulb1:before {
  content: "\ecfc";
}
.icon-list-alt1:before {
  content: "\ecfd";
}
.icon-map1:before {
  content: "\ecfe";
}
.icon-meh-blank1:before {
  content: "\ecff";
}
.icon-meh-rolling-eyes1:before {
  content: "\ed00";
}
.icon-meh1:before {
  content: "\ed01";
}
.icon-minus-square1:before {
  content: "\ed02";
}
.icon-money-bill-alt1:before {
  content: "\ed03";
}
.icon-moon1:before {
  content: "\ed04";
}
.icon-newspaper1:before {
  content: "\ed05";
}
.icon-object-group1:before {
  content: "\ed06";
}
.icon-object-ungroup1:before {
  content: "\ed07";
}
.icon-paper-plane1:before {
  content: "\ed08";
}
.icon-pause-circle1:before {
  content: "\ed09";
}
.icon-play-circle1:before {
  content: "\ed0a";
}
.icon-plus-square1:before {
  content: "\ed0b";
}
.icon-question-circle1:before {
  content: "\ed0c";
}
.icon-registered1:before {
  content: "\ed0d";
}
.icon-sad-cry1:before {
  content: "\ed0e";
}
.icon-sad-tear1:before {
  content: "\ed0f";
}
.icon-save1:before {
  content: "\ed10";
}
.icon-share-square1:before {
  content: "\ed11";
}
.icon-smile-beam1:before {
  content: "\ed12";
}
.icon-smile-wink1:before {
  content: "\ed13";
}
.icon-smile1:before {
  content: "\ed14";
}
.icon-snowflake1:before {
  content: "\ed15";
}
.icon-square1:before {
  content: "\ed16";
}
.icon-star-half1:before {
  content: "\ed17";
}
.icon-star3:before {
  content: "\ed18";
}
.icon-sticky-note1:before {
  content: "\ed19";
}
.icon-stop-circle1:before {
  content: "\ed1a";
}
.icon-sun1:before {
  content: "\ed1b";
}
.icon-surprise1:before {
  content: "\ed1c";
}
.icon-thumbs-down1:before {
  content: "\ed1d";
}
.icon-thumbs-up1:before {
  content: "\ed1e";
}
.icon-times-circle1:before {
  content: "\ed1f";
}
.icon-tired1:before {
  content: "\ed20";
}
.icon-trash-alt1:before {
  content: "\ed21";
}
.icon-user-circle1:before {
  content: "\ed22";
}
.icon-user1:before {
  content: "\ed23";
}
.icon-window-close1:before {
  content: "\ed24";
}
.icon-window-maximize1:before {
  content: "\ed25";
}
.icon-window-minimize1:before {
  content: "\ed26";
}
.icon-window-restore1:before {
  content: "\ed27";
}
