@font-face {
  font-family: 'icons0008';
  src:  url('fonts/icons0008.eot?bwdomd');
  src:  url('fonts/icons0008.eot?bwdomd#iefix') format('embedded-opentype'),
    url('fonts/icons0008.ttf?bwdomd') format('truetype'),
    url('fonts/icons0008.woff?bwdomd') format('woff'),
    url('fonts/icons0008.svg?bwdomd#icons0008') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons0008' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-circle-down:before {
  content: "\e90b";
}
.icon-circle-left:before {
  content: "\e90c";
}
.icon-circle-right:before {
  content: "\e90d";
}
.icon-circle-up:before {
  content: "\e90e";
}
.icon-circle-vol-1circle:before {
  content: "\e90f";
}
.icon-clip:before {
  content: "\e910";
}
.icon-dental-care-insurance-protection-guarantee-promise:before {
  content: "\e911";
}
.icon-envelope:before {
  content: "\e912";
}
.icon-exclamation-fill:before {
  content: "\e913";
}
.icon-exclamation:before {
  content: "\e914";
}
.icon-pen:before {
  content: "\e915";
}
.icon-right-arrow:before {
  content: "\e916";
}
.icon-tick:before {
  content: "\e917";
}
.icon-writing:before {
  content: "\e918";
}
.icon-heartbeat:before {
  content: "\e900";
}
.icon-lock:before {
  content: "\e901";
}
.icon-running:before {
  content: "\e902";
}
.icon-shield:before {
  content: "\e903";
}
.icon-heartbeat1:before {
  content: "\e904";
}
.icon-security:before {
  content: "\e905";
}
.icon-ticket:before {
  content: "\e906";
}
.icon-man-user:before {
  content: "\e907";
}
.icon-chat:before {
  content: "\e908";
}
.icon-shopping-cart:before {
  content: "\e909";
}
.icon-finish:before {
  content: "\e90a";
}
