@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?ce2yo3');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?ce2yo3#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?ce2yo3') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?ce2yo3') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?ce2yo3##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dental-1 {
  &:before {
    content: $icon-dental-1; 
  }
}
.icon-circle-down {
  &:before {
    content: $icon-circle-down; 
  }
}
.icon-circle-left {
  &:before {
    content: $icon-circle-left; 
  }
}
.icon-circle-right {
  &:before {
    content: $icon-circle-right; 
  }
}
.icon-circle-up {
  &:before {
    content: $icon-circle-up; 
  }
}
.icon-circle-vol-1circle {
  &:before {
    content: $icon-circle-vol-1circle; 
  }
}
.icon-clip {
  &:before {
    content: $icon-clip; 
  }
}
.icon-envelope {
  &:before {
    content: $icon-envelope; 
  }
}
.icon-exclamation-fill {
  &:before {
    content: $icon-exclamation-fill; 
  }
}
.icon-exclamation {
  &:before {
    content: $icon-exclamation; 
  }
}
.icon-pen {
  &:before {
    content: $icon-pen; 
  }
}
.icon-right-arrow {
  &:before {
    content: $icon-right-arrow; 
  }
}
.icon-tick {
  &:before {
    content: $icon-tick; 
  }
}
.icon-writing {
  &:before {
    content: $icon-writing; 
  }
}
.icon-heartbeat {
  &:before {
    content: $icon-heartbeat; 
  }
}
.icon-lock {
  &:before {
    content: $icon-lock; 
  }
}
.icon-running {
  &:before {
    content: $icon-running; 
  }
}
.icon-shield {
  &:before {
    content: $icon-shield; 
  }
}
.icon-heartbeat1 {
  &:before {
    content: $icon-heartbeat1; 
  }
}
.icon-security {
  &:before {
    content: $icon-security; 
  }
}
.icon-ticket {
  &:before {
    content: $icon-ticket; 
  }
}
.icon-man-user {
  &:before {
    content: $icon-man-user; 
  }
}
.icon-chat {
  &:before {
    content: $icon-chat; 
  }
}
.icon-shopping-cart {
  &:before {
    content: $icon-shopping-cart; 
  }
}
.icon-finish {
  &:before {
    content: $icon-finish; 
  }
}

