$icomoon-font-family: "icons0008" !default;
$icomoon-font-path: "fonts" !default;

$icon-heartbeat: "\e900";
$icon-lock: "\e901";
$icon-running: "\e902";
$icon-shield: "\e903";
$icon-heartbeat1: "\e904";
$icon-security: "\e905";
$icon-ticket: "\e906";
$icon-man-user: "\e907";
$icon-chat: "\e908";
$icon-shopping-cart: "\e909";
$icon-finish: "\e90a";

