@font-face {
  font-family: 'icons0009';
  src:  url('fonts/icons0009.eot?r496x6');
  src:  url('fonts/icons0009.eot?r496x6#iefix') format('embedded-opentype'),
    url('fonts/icons0009.ttf?r496x6') format('truetype'),
    url('fonts/icons0009.woff?r496x6') format('woff'),
    url('fonts/icons0009.svg?r496x6#icons0009') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons0009' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logout:before {
  content: "\e92b";
}
.icon-eye-full:before {
  content: "\e927";
}
.icon-instagram:before {
  content: "\e92a";
}
.icon-delete:before {
  content: "\e928";
}
.icon-tick2:before {
  content: "\e929";
}
.icon-lock:before {
  content: "\e925";
}
.icon-tick:before {
  content: "\e926";
}
.icon-camera:before {
  content: "\e923";
}
.icon-clip:before {
  content: "\e924";
}
.icon-account_active:before {
  content: "\e91f";
}
.icon-account:before {
  content: "\e920";
  color: #545454;
}
.icon-star_active:before {
  content: "\e921";
}
.icon-star:before {
  content: "\e922";
  color: #545454;
}
.icon-arrow_back:before {
  content: "\e900";
  color: #545454;
}
.icon-caption:before {
  content: "\e901";
  color: #545454;
}
.icon-close_white:before {
  content: "\e902";
  color: #fff;
}
.icon-close:before {
  content: "\e903";
  color: #545454;
}
.icon-comments:before {
  content: "\e904";
  color: #545454;
}
.icon-credits_empty:before {
  content: "\e905";
  color: #c4c4c4;
}
.icon-credits_white:before {
  content: "\e906";
  color: #fff;
}
.icon-credits:before {
  content: "\e907";
  color: #1961ce;
}
.icon-empty_state:before {
  content: "\e908";
  color: #545454;
}
.icon-eye:before {
  content: "\e909";
  color: #545454;
}
.icon-heart_dark:before {
  content: "\e90a";
}
.icon-heart_red:before {
  content: "\e90b";
  color: #ea2a58;
}
.icon-heart:before {
  content: "\e90c";
  color: #545454;
}
.icon-home_active:before {
  content: "\e90d";
}
.icon-home:before {
  content: "\e90e";
  color: #545454;
}
.icon-location:before {
  content: "\e90f";
  color: #545454;
}
.icon-message_active:before {
  content: "\e910";
}
.icon-message_delete:before {
  content: "\e911";
  color: #fff;
}
.icon-message_send:before {
  content: "\e912";
  color: #545454;
}
.icon-message_white:before {
  content: "\e913";
  color: #fff;
}
.icon-message:before {
  content: "\e914";
  color: #545454;
}
.icon-options:before {
  content: "\e915";
  color: #545454;
}
.icon-post_add:before {
  content: "\e916";
  color: #0097ed;
}
.icon-post_multi:before {
  content: "\e917";
  color: #fff;
}
.icon-post_video:before {
  content: "\e918";
  color: #fff;
}
.icon-search_active:before {
  content: "\e919";
}
.icon-search_location:before {
  content: "\e91a";
}
.icon-search_tag:before {
  content: "\e91b";
}
.icon-search:before {
  content: "\e91c";
  color: #545454;
}
.icon-share:before {
  content: "\e91d";
  color: #545454;
}
.icon-verified:before {
  content: "\e91e";
  color: #0097ed;
}
