$icomoon-font-family: "icons0009" !default;
$icomoon-font-path: "fonts" !default;

$icon-arrow_back: "\e900";
$icon-caption: "\e901";
$icon-close_white: "\e902";
$icon-close: "\e903";
$icon-comments: "\e904";
$icon-credits_empty: "\e905";
$icon-credits_white: "\e906";
$icon-credits: "\e907";
$icon-empty_state: "\e908";
$icon-eye: "\e909";
$icon-heart_dark: "\e90a";
$icon-heart_red: "\e90b";
$icon-heart: "\e90c";
$icon-home_active: "\e90d";
$icon-home: "\e90e";
$icon-location: "\e90f";
$icon-message_active: "\e910";
$icon-message_delete: "\e911";
$icon-message_send: "\e912";
$icon-message_white: "\e913";
$icon-message: "\e914";
$icon-options: "\e915";
$icon-post_add: "\e916";
$icon-post_multi: "\e917";
$icon-post_video: "\e918";
$icon-search_active: "\e919";
$icon-search_location: "\e91a";
$icon-search_tag: "\e91b";
$icon-search: "\e91c";
$icon-share: "\e91d";
$icon-verified: "\e91e";

