$icon-Abuse: "\e900";
$icon-Arrowleft: "\e901";
$icon-Arrowright: "\e902";
$icon-Arrow: "\e903";
$icon-AvatarGroup: "\e904";
$icon-back: "\e905";
$icon-Checkboxempty: "\e906";
$icon-Checkbox: "\e907";
$icon-Checkmarkfull: "\e908";
$icon-cog: "\e909";
$icon-comments-o: "\e90a";
$icon-comments: "\e90b";
$icon-Crop: "\e90c";
$icon-Delete: "\e90d";
$icon-Download: "\e90e";
$icon-Editprofile: "\e90f";
$icon-Errorfull: "\e910";
$icon-Expand: "\e911";
$icon-eye: "\e912";
$icon-f: "\e913";
$icon-female: "\e914";
$icon-Filter: "\e915";
$icon-Goto: "\e916";
$icon-heart-o: "\e917";
$icon-hearth: "\e918";
$icon-Home: "\e919";
$icon-Hoockup: "\e91a";
$icon-Image: "\e91b";
$icon-Images: "\e91c";
$icon-Largeview: "\e91d";
$icon-Left2: "\e91e";
$icon-Left: "\e91f";
$icon-Link: "\e920";
$icon-Lock: "\e921";
$icon-m: "\e922";
$icon-Mail: "\e923";
$icon-male: "\e924";
$icon-Match: "\e925";
$icon-Menu: "\e926";
$icon-Minus: "\e927";
$icon-Notifications: "\e928";
$icon-ok: "\e929";
$icon-Onlinemembers: "\e92a";
$icon-Online: "\e92b";
$icon-picture: "\e92c";
$icon-PinEmpty: "\e92d";
$icon-PinFull: "\e92e";
$icon-Plane: "\e92f";
$icon-Plus: "\e930";
$icon-power-off: "\e931";
$icon-Premium1: "\e932";
$icon-Premium2: "\e933";
$icon-Premium3: "\e934";
$icon-question: "\e935";
$icon-Radiobutton1: "\e936";
$icon-Radiobutton2: "\e937";
$icon-Radiobuttonempty: "\e938";
$icon-Redoleft: "\e939";
$icon-Redoright: "\e93a";
$icon-remove: "\e93b";
$icon-Replayleft: "\e93c";
$icon-Replayright: "\e93d";
$icon-Report: "\e93e";
$icon-RibbonUp: "\e93f";
$icon-Ribonleft: "\e940";
$icon-Ribonright: "\e941";
$icon-Right2: "\e942";
$icon-Right: "\e943";
$icon-Search: "\e944";
$icon-Smallview: "\e945";
$icon-Smileyempty2: "\e946";
$icon-Smileyempty: "\e947";
$icon-Smileyfull2: "\e948";
$icon-Smileyfull: "\e949";
$icon-star-o: "\e94a";
$icon-star: "\e94b";
$icon-time-full: "\e94c";
$icon-time: "\e94d";
$icon-Unlock: "\e94e";
$icon-Upload: "\e94f";
$icon-webcam: "\e950";
$icon-ZoomMax: "\e951";
$icon-ZoomMin: "\e952";
