$icomoon-font-path: "fonts" !default;

$icon-add_photo: "\e900";
$icon-back: "\e901";
$icon-block: "\e902";
$icon-chat: "\e903";
$icon-checkmark: "\e904";
$icon-close: "\e905";
$icon-delete: "\e906";
$icon-dropdown: "\e907";
$icon-edit_profile: "\e908";
$icon-edit: "\e909";
$icon-emoticon: "\e90a";
$icon-home: "\e90b";
$icon-list_v: "\e90c";
$icon-location: "\e90d";
$icon-lock: "\e90e";
$icon-logout: "\e90f";
$icon-menu: "\e910";
$icon-message: "\e911";
$icon-minimize: "\e912";
$icon-options: "\e913";
$icon-pending: "\e914";
$icon-photo_number: "\e915";
$icon-photo_options: "\e916";
$icon-photo_request: "\e917";
$icon-photo: "\e918";
$icon-photo2: "\e919";
$icon-previous: "\e91a";
$icon-private_photo: "\e91b";
$icon-profile: "\e91c";
$icon-profile2: "\e91d";
$icon-search: "\e91e";
$icon-send: "\e91f";
$icon-settings: "\e920";
$icon-star_e: "\e921";
$icon-star: "\e922";
$icon-support: "\e923";
$icon-thumb_v: "\e924";
$icon-view: "\e925";