$icomoon-font-path: "fonts" !default;

$icon-add_photo: "\e900";
$icon-chat: "\e901";
$icon-checkmark: "\e902";
$icon-close: "\e903";
$icon-delete: "\e904";
$icon-expand: "\e905";
$icon-list_v: "\e906";
$icon-lock: "\e907";
$icon-menu: "\e908";
$icon-more: "\e909";
$icon-options: "\e90a";
$icon-pending: "\e90b";
$icon-previous: "\e90c";
$icon-profile: "\e90d";
$icon-profile2: "\e90e";
$icon-search: "\e90f";
$icon-send: "\e910";
$icon-star_e: "\e911";
$icon-star: "\e912";
$icon-thumb_v: "\e913";
$icon-Abuse: "\e914";
$icon-Arrow: "\e915";
$icon-Arrowleft: "\e916";
$icon-Arrowright: "\e917";
$icon-AvatarGroup: "\e918";
$icon-back: "\e919";
$icon-Checkbox: "\e91a";
$icon-Checkboxempty: "\e91b";
$icon-Checkmarkfull: "\e91c";
$icon-cog: "\e91d";
$icon-comments-o: "\e91e";
$icon-comments: "\e91f";
$icon-Crop: "\e920";
$icon-Delete: "\e921";
$icon-Download: "\e922";
$icon-Editprofile: "\e923";
$icon-Errorfull: "\e924";
$icon-Expand: "\e925";
$icon-eye: "\e926";
$icon-f: "\e927";
$icon-female: "\e928";
$icon-Filter: "\e929";
$icon-Goto: "\e92a";
$icon-heart-o: "\e92b";
$icon-hearth: "\e92c";
$icon-Home: "\e92d";
$icon-Hoockup: "\e92e";
$icon-Image: "\e92f";
$icon-Images: "\e930";
$icon-Largeview: "\e931";
$icon-Left: "\e932";
$icon-Left2: "\e933";
$icon-Link: "\e934";
$icon-Lock: "\e935";
$icon-m: "\e936";
$icon-Mail: "\e937";
$icon-male: "\e938";
$icon-Match: "\e939";
$icon-Menu: "\e93a";
$icon-Minus: "\e93b";
$icon-Notifications: "\e93c";
$icon-ok: "\e93d";
$icon-Online: "\e93e";
$icon-Onlinemembers: "\e93f";
$icon-picture: "\e940";
$icon-PinEmpty: "\e941";
$icon-PinFull: "\e942";
$icon-Plane: "\e943";
$icon-Plus: "\e944";
$icon-power-off: "\e945";
$icon-Premium1: "\e946";
$icon-Premium2: "\e947";
$icon-Premium3: "\e948";
$icon-question: "\e949";
$icon-Radiobutton1: "\e94a";
$icon-Radiobutton2: "\e94b";
$icon-Radiobuttonempty: "\e94c";
$icon-Redoleft: "\e94d";
$icon-Redoright: "\e94e";
$icon-remove: "\e94f";
$icon-Replayleft: "\e950";
$icon-Replayright: "\e951";
$icon-Report: "\e952";
$icon-RibbonUp: "\e953";
$icon-Ribonleft: "\e954";
$icon-Ribonright: "\e955";
$icon-Right: "\e956";
$icon-Right2: "\e957";
$icon-Search: "\e958";
$icon-Smallview: "\e959";
$icon-Smileyempty: "\e95a";
$icon-Smileyempty2: "\e95b";
$icon-Smileyfull: "\e95c";
$icon-Smileyfull2: "\e95d";
$icon-star-o: "\e95e";
$icon-star1: "\e95f";
$icon-time-full: "\e960";
$icon-time: "\e961";
$icon-Unlock: "\e962";
$icon-Upload: "\e963";
$icon-webcam: "\e964";
$icon-ZoomMax: "\e965";
$icon-ZoomMin: "\e966";
$icon-ad: "\e967";
$icon-address-book: "\e968";
$icon-address-card: "\e969";
$icon-adjust: "\e96a";
$icon-air-freshener: "\e96b";
$icon-align-center: "\e96c";
$icon-align-justify: "\e96d";
$icon-align-left: "\e96e";
$icon-align-right: "\e96f";
$icon-allergies: "\e970";
$icon-ambulance: "\e971";
$icon-american-sign-language-interpreting: "\e972";
$icon-anchor: "\e973";
$icon-angle-double-down: "\e974";
$icon-angle-double-left: "\e975";
$icon-angle-double-right: "\e976";
$icon-angle-double-up: "\e977";
$icon-angle-down: "\e978";
$icon-angle-left: "\e979";
$icon-angle-right: "\e97a";
$icon-angle-up: "\e97b";
$icon-angry: "\e97c";
$icon-ankh: "\e97d";
$icon-apple-alt: "\e97e";
$icon-archive: "\e97f";
$icon-archway: "\e980";
$icon-arrow-alt-circle-down: "\e981";
$icon-arrow-alt-circle-left: "\e982";
$icon-arrow-alt-circle-right: "\e983";
$icon-arrow-alt-circle-up: "\e984";
$icon-arrow-circle-down: "\e985";
$icon-arrow-circle-left: "\e986";
$icon-arrow-circle-right: "\e987";
$icon-arrow-circle-up: "\e988";
$icon-arrow-down: "\e989";
$icon-arrow-left: "\e98a";
$icon-arrow-right: "\e98b";
$icon-arrow-up: "\e98c";
$icon-arrows-alt-h: "\e98d";
$icon-arrows-alt-v: "\e98e";
$icon-arrows-alt: "\e98f";
$icon-assistive-listening-systems: "\e990";
$icon-asterisk: "\e991";
$icon-at: "\e992";
$icon-atlas: "\e993";
$icon-atom: "\e994";
$icon-audio-description: "\e995";
$icon-award: "\e996";
$icon-backspace: "\e997";
$icon-backward: "\e998";
$icon-balance-scale: "\e999";
$icon-ban: "\e99a";
$icon-band-aid: "\e99b";
$icon-barcode: "\e99c";
$icon-bars: "\e99d";
$icon-baseball-ball: "\e99e";
$icon-basketball-ball: "\e99f";
$icon-bath: "\e9a0";
$icon-battery-empty: "\e9a1";
$icon-battery-full: "\e9a2";
$icon-battery-half: "\e9a3";
$icon-battery-quarter: "\e9a4";
$icon-battery-three-quarters: "\e9a5";
$icon-bed: "\e9a6";
$icon-beer: "\e9a7";
$icon-bell-slash: "\e9a8";
$icon-bell: "\e9a9";
$icon-bezier-curve: "\e9aa";
$icon-bible: "\e9ab";
$icon-bicycle: "\e9ac";
$icon-binoculars: "\e9ad";
$icon-birthday-cake: "\e9ae";
$icon-blender: "\e9af";
$icon-blind: "\e9b0";
$icon-bold: "\e9b1";
$icon-bolt: "\e9b2";
$icon-bomb: "\e9b3";
$icon-bone: "\e9b4";
$icon-bong: "\e9b5";
$icon-book-open: "\e9b6";
$icon-book-reader: "\e9b7";
$icon-book: "\e9b8";
$icon-bookmark: "\e9b9";
$icon-bowling-ball: "\e9ba";
$icon-box-open: "\e9bb";
$icon-box: "\e9bc";
$icon-boxes: "\e9bd";
$icon-braille: "\e9be";
$icon-brain: "\e9bf";
$icon-briefcase-medical: "\e9c0";
$icon-briefcase: "\e9c1";
$icon-broadcast-tower: "\e9c2";
$icon-broom: "\e9c3";
$icon-brush: "\e9c4";
$icon-bug: "\e9c5";
$icon-building: "\e9c6";
$icon-bullhorn: "\e9c7";
$icon-bullseye: "\e9c8";
$icon-burn: "\e9c9";
$icon-bus-alt: "\e9ca";
$icon-bus: "\e9cb";
$icon-business-time: "\e9cc";
$icon-calculator: "\e9cd";
$icon-calendar-alt: "\e9ce";
$icon-calendar-check: "\e9cf";
$icon-calendar-minus: "\e9d0";
$icon-calendar-plus: "\e9d1";
$icon-calendar-times: "\e9d2";
$icon-calendar: "\e9d3";
$icon-camera-retro: "\e9d4";
$icon-camera: "\e9d5";
$icon-cannabis: "\e9d6";
$icon-capsules: "\e9d7";
$icon-car-alt: "\e9d8";
$icon-car-battery: "\e9d9";
$icon-car-crash: "\e9da";
$icon-car-side: "\e9db";
$icon-car: "\e9dc";
$icon-caret-down: "\e9dd";
$icon-caret-left: "\e9de";
$icon-caret-right: "\e9df";
$icon-caret-square-down: "\e9e0";
$icon-caret-square-left: "\e9e1";
$icon-caret-square-right: "\e9e2";
$icon-caret-square-up: "\e9e3";
$icon-caret-up: "\e9e4";
$icon-cart-arrow-down: "\e9e5";
$icon-cart-plus: "\e9e6";
$icon-certificate: "\e9e7";
$icon-chalkboard-teacher: "\e9e8";
$icon-chalkboard: "\e9e9";
$icon-charging-station: "\e9ea";
$icon-chart-area: "\e9eb";
$icon-chart-bar: "\e9ec";
$icon-chart-line: "\e9ed";
$icon-chart-pie: "\e9ee";
$icon-check-circle: "\e9ef";
$icon-check-double: "\e9f0";
$icon-check-square: "\e9f1";
$icon-check: "\e9f2";
$icon-chess-bishop: "\e9f3";
$icon-chess-board: "\e9f4";
$icon-chess-king: "\e9f5";
$icon-chess-knight: "\e9f6";
$icon-chess-pawn: "\e9f7";
$icon-chess-queen: "\e9f8";
$icon-chess-rook: "\e9f9";
$icon-chess: "\e9fa";
$icon-chevron-circle-down: "\e9fb";
$icon-chevron-circle-left: "\e9fc";
$icon-chevron-circle-right: "\e9fd";
$icon-chevron-circle-up: "\e9fe";
$icon-chevron-down: "\e9ff";
$icon-chevron-left: "\ea00";
$icon-chevron-right: "\ea01";
$icon-chevron-up: "\ea02";
$icon-child: "\ea03";
$icon-church: "\ea04";
$icon-circle-notch: "\ea05";
$icon-circle: "\ea06";
$icon-city: "\ea07";
$icon-clipboard-check: "\ea08";
$icon-clipboard-list: "\ea09";
$icon-clipboard: "\ea0a";
$icon-clock: "\ea0b";
$icon-clone: "\ea0c";
$icon-closed-captioning: "\ea0d";
$icon-cloud-download-alt: "\ea0e";
$icon-cloud-upload-alt: "\ea0f";
$icon-cloud: "\ea10";
$icon-cocktail: "\ea11";
$icon-code-branch: "\ea12";
$icon-code: "\ea13";
$icon-coffee: "\ea14";
$icon-cog1: "\ea15";
$icon-cogs: "\ea16";
$icon-coins: "\ea17";
$icon-columns: "\ea18";
$icon-comment-alt: "\ea19";
$icon-comment-dollar: "\ea1a";
$icon-comment-dots: "\ea1b";
$icon-comment-slash: "\ea1c";
$icon-comment: "\ea1d";
$icon-comments-dollar: "\ea1e";
$icon-comments1: "\ea1f";
$icon-compact-disc: "\ea20";
$icon-compass: "\ea21";
$icon-compress: "\ea22";
$icon-concierge-bell: "\ea23";
$icon-cookie-bite: "\ea24";
$icon-cookie: "\ea25";
$icon-copy: "\ea26";
$icon-copyright: "\ea27";
$icon-couch: "\ea28";
$icon-credit-card: "\ea29";
$icon-crop-alt: "\ea2a";
$icon-crop: "\ea2b";
$icon-cross: "\ea2c";
$icon-crosshairs: "\ea2d";
$icon-crow: "\ea2e";
$icon-crown: "\ea2f";
$icon-cube: "\ea30";
$icon-cubes: "\ea31";
$icon-cut: "\ea32";
$icon-database: "\ea33";
$icon-deaf: "\ea34";
$icon-desktop: "\ea35";
$icon-dharmachakra: "\ea36";
$icon-diagnoses: "\ea37";
$icon-dice-five: "\ea38";
$icon-dice-four: "\ea39";
$icon-dice-one: "\ea3a";
$icon-dice-six: "\ea3b";
$icon-dice-three: "\ea3c";
$icon-dice-two: "\ea3d";
$icon-dice: "\ea3e";
$icon-digital-tachograph: "\ea3f";
$icon-directions: "\ea40";
$icon-divide: "\ea41";
$icon-dizzy: "\ea42";
$icon-dna: "\ea43";
$icon-dollar-sign: "\ea44";
$icon-dolly-flatbed: "\ea45";
$icon-dolly: "\ea46";
$icon-donate: "\ea47";
$icon-door-closed: "\ea48";
$icon-door-open: "\ea49";
$icon-dot-circle: "\ea4a";
$icon-dove: "\ea4b";
$icon-download: "\ea4c";
$icon-drafting-compass: "\ea4d";
$icon-draw-polygon: "\ea4e";
$icon-drum-steelpan: "\ea4f";
$icon-drum: "\ea50";
$icon-dumbbell: "\ea51";
$icon-edit: "\ea52";
$icon-eject: "\ea53";
$icon-ellipsis-h: "\ea54";
$icon-ellipsis-v: "\ea55";
$icon-envelope-open-text: "\ea56";
$icon-envelope-open: "\ea57";
$icon-envelope-square: "\ea58";
$icon-envelope: "\ea59";
$icon-equals: "\ea5a";
$icon-eraser: "\ea5b";
$icon-euro-sign: "\ea5c";
$icon-exchange-alt: "\ea5d";
$icon-exclamation-circle: "\ea5e";
$icon-exclamation-triangle: "\ea5f";
$icon-exclamation: "\ea60";
$icon-expand-arrows-alt: "\ea61";
$icon-expand1: "\ea62";
$icon-external-link-alt: "\ea63";
$icon-external-link-square-alt: "\ea64";
$icon-eye-dropper: "\ea65";
$icon-eye-slash: "\ea66";
$icon-eye1: "\ea67";
$icon-fast-backward: "\ea68";
$icon-fast-forward: "\ea69";
$icon-fax: "\ea6a";
$icon-feather-alt: "\ea6b";
$icon-feather: "\ea6c";
$icon-female1: "\ea6d";
$icon-fighter-jet: "\ea6e";
$icon-file-alt: "\ea6f";
$icon-file-archive: "\ea70";
$icon-file-audio: "\ea71";
$icon-file-code: "\ea72";
$icon-file-contract: "\ea73";
$icon-file-download: "\ea74";
$icon-file-excel: "\ea75";
$icon-file-export: "\ea76";
$icon-file-image: "\ea77";
$icon-file-import: "\ea78";
$icon-file-invoice-dollar: "\ea79";
$icon-file-invoice: "\ea7a";
$icon-file-medical-alt: "\ea7b";
$icon-file-medical: "\ea7c";
$icon-file-pdf: "\ea7d";
$icon-file-powerpoint: "\ea7e";
$icon-file-prescription: "\ea7f";
$icon-file-signature: "\ea80";
$icon-file-upload: "\ea81";
$icon-file-video: "\ea82";
$icon-file-word: "\ea83";
$icon-file: "\ea84";
$icon-fill-drip: "\ea85";
$icon-fill: "\ea86";
$icon-film: "\ea87";
$icon-filter: "\ea88";
$icon-fingerprint: "\ea89";
$icon-fire-extinguisher: "\ea8a";
$icon-fire: "\ea8b";
$icon-first-aid: "\ea8c";
$icon-fish: "\ea8d";
$icon-flag-checkered: "\ea8e";
$icon-flag: "\ea8f";
$icon-flask: "\ea90";
$icon-flushed: "\ea91";
$icon-folder-minus: "\ea92";
$icon-folder-open: "\ea93";
$icon-folder-plus: "\ea94";
$icon-folder: "\ea95";
$icon-font: "\ea96";
$icon-football-ball: "\ea97";
$icon-forward: "\ea98";
$icon-frog: "\ea99";
$icon-frown-open: "\ea9a";
$icon-frown: "\ea9b";
$icon-funnel-dollar: "\ea9c";
$icon-futbol: "\ea9d";
$icon-gamepad: "\ea9e";
$icon-gas-pump: "\ea9f";
$icon-gavel: "\eaa0";
$icon-gem: "\eaa1";
$icon-genderless: "\eaa2";
$icon-gift: "\eaa3";
$icon-glass-martini-alt: "\eaa4";
$icon-glass-martini: "\eaa5";
$icon-glasses: "\eaa6";
$icon-globe-africa: "\eaa7";
$icon-globe-americas: "\eaa8";
$icon-globe-asia: "\eaa9";
$icon-globe: "\eaaa";
$icon-golf-ball: "\eaab";
$icon-gopuram: "\eaac";
$icon-graduation-cap: "\eaad";
$icon-greater-than-equal: "\eaae";
$icon-greater-than: "\eaaf";
$icon-grimace: "\eab0";
$icon-grin-alt: "\eab1";
$icon-grin-beam-sweat: "\eab2";
$icon-grin-beam: "\eab3";
$icon-grin-hearts: "\eab4";
$icon-grin-squint-tears: "\eab5";
$icon-grin-squint: "\eab6";
$icon-grin-stars: "\eab7";
$icon-grin-tears: "\eab8";
$icon-grin-tongue-squint: "\eab9";
$icon-grin-tongue-wink: "\eaba";
$icon-grin-tongue: "\eabb";
$icon-grin-wink: "\eabc";
$icon-grin: "\eabd";
$icon-grip-horizontal: "\eabe";
$icon-grip-vertical: "\eabf";
$icon-h-square: "\eac0";
$icon-hamsa: "\eac1";
$icon-hand-holding-heart: "\eac2";
$icon-hand-holding-usd: "\eac3";
$icon-hand-holding: "\eac4";
$icon-hand-lizard: "\eac5";
$icon-hand-paper: "\eac6";
$icon-hand-peace: "\eac7";
$icon-hand-point-down: "\eac8";
$icon-hand-point-left: "\eac9";
$icon-hand-point-right: "\eaca";
$icon-hand-point-up: "\eacb";
$icon-hand-pointer: "\eacc";
$icon-hand-rock: "\eacd";
$icon-hand-scissors: "\eace";
$icon-hand-spock: "\eacf";
$icon-hands-helping: "\ead0";
$icon-hands: "\ead1";
$icon-handshake: "\ead2";
$icon-hashtag: "\ead3";
$icon-haykal: "\ead4";
$icon-hdd: "\ead5";
$icon-heading: "\ead6";
$icon-headphones-alt: "\ead7";
$icon-headphones: "\ead8";
$icon-headset: "\ead9";
$icon-heart: "\eada";
$icon-heartbeat: "\eadb";
$icon-helicopter: "\eadc";
$icon-highlighter: "\eadd";
$icon-history: "\eade";
$icon-hockey-puck: "\eadf";
$icon-home: "\eae0";
$icon-hospital-alt: "\eae1";
$icon-hospital-symbol: "\eae2";
$icon-hospital: "\eae3";
$icon-hot-tub: "\eae4";
$icon-hotel: "\eae5";
$icon-hourglass-end: "\eae6";
$icon-hourglass-half: "\eae7";
$icon-hourglass-start: "\eae8";
$icon-hourglass: "\eae9";
$icon-i-cursor: "\eaea";
$icon-id-badge: "\eaeb";
$icon-id-card-alt: "\eaec";
$icon-id-card: "\eaed";
$icon-image: "\eaee";
$icon-images: "\eaef";
$icon-inbox: "\eaf0";
$icon-indent: "\eaf1";
$icon-industry: "\eaf2";
$icon-infinity: "\eaf3";
$icon-info-circle: "\eaf4";
$icon-info: "\eaf5";
$icon-italic: "\eaf6";
$icon-jedi: "\eaf7";
$icon-joint: "\eaf8";
$icon-journal-whills: "\eaf9";
$icon-kaaba: "\eafa";
$icon-key: "\eafb";
$icon-keyboard: "\eafc";
$icon-khanda: "\eafd";
$icon-kiss-beam: "\eafe";
$icon-kiss-wink-heart: "\eaff";
$icon-kiss: "\eb00";
$icon-kiwi-bird: "\eb01";
$icon-landmark: "\eb02";
$icon-language: "\eb03";
$icon-laptop-code: "\eb04";
$icon-laptop: "\eb05";
$icon-laugh-beam: "\eb06";
$icon-laugh-squint: "\eb07";
$icon-laugh-wink: "\eb08";
$icon-laugh: "\eb09";
$icon-layer-group: "\eb0a";
$icon-leaf: "\eb0b";
$icon-lemon: "\eb0c";
$icon-less-than-equal: "\eb0d";
$icon-less-than: "\eb0e";
$icon-level-down-alt: "\eb0f";
$icon-level-up-alt: "\eb10";
$icon-life-ring: "\eb11";
$icon-lightbulb: "\eb12";
$icon-link: "\eb13";
$icon-lira-sign: "\eb14";
$icon-list-alt: "\eb15";
$icon-list-ol: "\eb16";
$icon-list-ul: "\eb17";
$icon-list: "\eb18";
$icon-location-arrow: "\eb19";
$icon-lock-open: "\eb1a";
$icon-lock1: "\eb1b";
$icon-long-arrow-alt-down: "\eb1c";
$icon-long-arrow-alt-left: "\eb1d";
$icon-long-arrow-alt-right: "\eb1e";
$icon-long-arrow-alt-up: "\eb1f";
$icon-low-vision: "\eb20";
$icon-luggage-cart: "\eb21";
$icon-magic: "\eb22";
$icon-magnet: "\eb23";
$icon-mail-bulk: "\eb24";
$icon-male1: "\eb25";
$icon-map-marked-alt: "\eb26";
$icon-map-marked: "\eb27";
$icon-map-marker-alt: "\eb28";
$icon-map-marker: "\eb29";
$icon-map-pin: "\eb2a";
$icon-map-signs: "\eb2b";
$icon-map: "\eb2c";
$icon-marker: "\eb2d";
$icon-mars-double: "\eb2e";
$icon-mars-stroke-h: "\eb2f";
$icon-mars-stroke-v: "\eb30";
$icon-mars-stroke: "\eb31";
$icon-mars: "\eb32";
$icon-medal: "\eb33";
$icon-medkit: "\eb34";
$icon-meh-blank: "\eb35";
$icon-meh-rolling-eyes: "\eb36";
$icon-meh: "\eb37";
$icon-memory: "\eb38";
$icon-menorah: "\eb39";
$icon-mercury: "\eb3a";
$icon-microchip: "\eb3b";
$icon-microphone-alt-slash: "\eb3c";
$icon-microphone-alt: "\eb3d";
$icon-microphone-slash: "\eb3e";
$icon-microphone: "\eb3f";
$icon-microscope: "\eb40";
$icon-minus-circle: "\eb41";
$icon-minus-square: "\eb42";
$icon-minus: "\eb43";
$icon-mobile-alt: "\eb44";
$icon-mobile: "\eb45";
$icon-money-bill-alt: "\eb46";
$icon-money-bill-wave-alt: "\eb47";
$icon-money-bill-wave: "\eb48";
$icon-money-bill: "\eb49";
$icon-money-check-alt: "\eb4a";
$icon-money-check: "\eb4b";
$icon-monument: "\eb4c";
$icon-moon: "\eb4d";
$icon-mortar-pestle: "\eb4e";
$icon-mosque: "\eb4f";
$icon-motorcycle: "\eb50";
$icon-mouse-pointer: "\eb51";
$icon-music: "\eb52";
$icon-neuter: "\eb53";
$icon-newspaper: "\eb54";
$icon-not-equal: "\eb55";
$icon-notes-medical: "\eb56";
$icon-object-group: "\eb57";
$icon-object-ungroup: "\eb58";
$icon-oil-can: "\eb59";
$icon-om: "\eb5a";
$icon-outdent: "\eb5b";
$icon-paint-brush: "\eb5c";
$icon-paint-roller: "\eb5d";
$icon-palette: "\eb5e";
$icon-pallet: "\eb5f";
$icon-paper-plane: "\eb60";
$icon-paperclip: "\eb61";
$icon-parachute-box: "\eb62";
$icon-paragraph: "\eb63";
$icon-parking: "\eb64";
$icon-passport: "\eb65";
$icon-pastafarianism: "\eb66";
$icon-paste: "\eb67";
$icon-pause-circle: "\eb68";
$icon-pause: "\eb69";
$icon-paw: "\eb6a";
$icon-peace: "\eb6b";
$icon-pen-alt: "\eb6c";
$icon-pen-fancy: "\eb6d";
$icon-pen-nib: "\eb6e";
$icon-pen-square: "\eb6f";
$icon-pen: "\eb70";
$icon-pencil-alt: "\eb71";
$icon-pencil-ruler: "\eb72";
$icon-people-carry: "\eb73";
$icon-percent: "\eb74";
$icon-percentage: "\eb75";
$icon-phone-slash: "\eb76";
$icon-phone-square: "\eb77";
$icon-phone-volume: "\eb78";
$icon-phone: "\eb79";
$icon-piggy-bank: "\eb7a";
$icon-pills: "\eb7b";
$icon-place-of-worship: "\eb7c";
$icon-plane-arrival: "\eb7d";
$icon-plane-departure: "\eb7e";
$icon-plane: "\eb7f";
$icon-play-circle: "\eb80";
$icon-play: "\eb81";
$icon-plug: "\eb82";
$icon-plus-circle: "\eb83";
$icon-plus-square: "\eb84";
$icon-plus: "\eb85";
$icon-podcast: "\eb86";
$icon-poll-h: "\eb87";
$icon-poll: "\eb88";
$icon-poo: "\eb89";
$icon-poop: "\eb8a";
$icon-portrait: "\eb8b";
$icon-pound-sign: "\eb8c";
$icon-power-off1: "\eb8d";
$icon-pray: "\eb8e";
$icon-praying-hands: "\eb8f";
$icon-prescription-bottle-alt: "\eb90";
$icon-prescription-bottle: "\eb91";
$icon-prescription: "\eb92";
$icon-print: "\eb93";
$icon-procedures: "\eb94";
$icon-project-diagram: "\eb95";
$icon-puzzle-piece: "\eb96";
$icon-qrcode: "\eb97";
$icon-question-circle: "\eb98";
$icon-question1: "\eb99";
$icon-quidditch: "\eb9a";
$icon-quote-left: "\eb9b";
$icon-quote-right: "\eb9c";
$icon-quran: "\eb9d";
$icon-random: "\eb9e";
$icon-receipt: "\eb9f";
$icon-recycle: "\eba0";
$icon-redo-alt: "\eba1";
$icon-redo: "\eba2";
$icon-registered: "\eba3";
$icon-reply-all: "\eba4";
$icon-reply: "\eba5";
$icon-retweet: "\eba6";
$icon-ribbon: "\eba7";
$icon-road: "\eba8";
$icon-robot: "\eba9";
$icon-rocket: "\ebaa";
$icon-route: "\ebab";
$icon-rss-square: "\ebac";
$icon-rss: "\ebad";
$icon-ruble-sign: "\ebae";
$icon-ruler-combined: "\ebaf";
$icon-ruler-horizontal: "\ebb0";
$icon-ruler-vertical: "\ebb1";
$icon-ruler: "\ebb2";
$icon-rupee-sign: "\ebb3";
$icon-sad-cry: "\ebb4";
$icon-sad-tear: "\ebb5";
$icon-save: "\ebb6";
$icon-school: "\ebb7";
$icon-screwdriver: "\ebb8";
$icon-search-dollar: "\ebb9";
$icon-search-location: "\ebba";
$icon-search-minus: "\ebbb";
$icon-search-plus: "\ebbc";
$icon-search1: "\ebbd";
$icon-seedling: "\ebbe";
$icon-server: "\ebbf";
$icon-shapes: "\ebc0";
$icon-share-alt-square: "\ebc1";
$icon-share-alt: "\ebc2";
$icon-share-square: "\ebc3";
$icon-share: "\ebc4";
$icon-shekel-sign: "\ebc5";
$icon-shield-alt: "\ebc6";
$icon-ship: "\ebc7";
$icon-shipping-fast: "\ebc8";
$icon-shoe-prints: "\ebc9";
$icon-shopping-bag: "\ebca";
$icon-shopping-basket: "\ebcb";
$icon-shopping-cart: "\ebcc";
$icon-shower: "\ebcd";
$icon-shuttle-van: "\ebce";
$icon-sign-in-alt: "\ebcf";
$icon-sign-language: "\ebd0";
$icon-sign-out-alt: "\ebd1";
$icon-sign: "\ebd2";
$icon-signal: "\ebd3";
$icon-signature: "\ebd4";
$icon-sitemap: "\ebd5";
$icon-skull: "\ebd6";
$icon-sliders-h: "\ebd7";
$icon-smile-beam: "\ebd8";
$icon-smile-wink: "\ebd9";
$icon-smile: "\ebda";
$icon-smoking-ban: "\ebdb";
$icon-smoking: "\ebdc";
$icon-snowflake: "\ebdd";
$icon-socks: "\ebde";
$icon-solar-panel: "\ebdf";
$icon-sort-alpha-down: "\ebe0";
$icon-sort-alpha-up: "\ebe1";
$icon-sort-amount-down: "\ebe2";
$icon-sort-amount-up: "\ebe3";
$icon-sort-down: "\ebe4";
$icon-sort-numeric-down: "\ebe5";
$icon-sort-numeric-up: "\ebe6";
$icon-sort-up: "\ebe7";
$icon-sort: "\ebe8";
$icon-spa: "\ebe9";
$icon-space-shuttle: "\ebea";
$icon-spinner: "\ebeb";
$icon-splotch: "\ebec";
$icon-spray-can: "\ebed";
$icon-square-full: "\ebee";
$icon-square-root-alt: "\ebef";
$icon-square: "\ebf0";
$icon-stamp: "\ebf1";
$icon-star-and-crescent: "\ebf2";
$icon-star-half-alt: "\ebf3";
$icon-star-half: "\ebf4";
$icon-star-of-david: "\ebf5";
$icon-star-of-life: "\ebf6";
$icon-star2: "\ebf7";
$icon-step-backward: "\ebf8";
$icon-step-forward: "\ebf9";
$icon-stethoscope: "\ebfa";
$icon-sticky-note: "\ebfb";
$icon-stop-circle: "\ebfc";
$icon-stop: "\ebfd";
$icon-stopwatch: "\ebfe";
$icon-store-alt: "\ebff";
$icon-store: "\ec00";
$icon-stream: "\ec01";
$icon-street-view: "\ec02";
$icon-strikethrough: "\ec03";
$icon-stroopwafel: "\ec04";
$icon-subscript: "\ec05";
$icon-subway: "\ec06";
$icon-suitcase-rolling: "\ec07";
$icon-suitcase: "\ec08";
$icon-sun: "\ec09";
$icon-superscript: "\ec0a";
$icon-surprise: "\ec0b";
$icon-swatchbook: "\ec0c";
$icon-swimmer: "\ec0d";
$icon-swimming-pool: "\ec0e";
$icon-synagogue: "\ec0f";
$icon-sync-alt: "\ec10";
$icon-sync: "\ec11";
$icon-syringe: "\ec12";
$icon-table-tennis: "\ec13";
$icon-table: "\ec14";
$icon-tablet-alt: "\ec15";
$icon-tablet: "\ec16";
$icon-tablets: "\ec17";
$icon-tachometer-alt: "\ec18";
$icon-tag: "\ec19";
$icon-tags: "\ec1a";
$icon-tape: "\ec1b";
$icon-tasks: "\ec1c";
$icon-taxi: "\ec1d";
$icon-teeth-open: "\ec1e";
$icon-teeth: "\ec1f";
$icon-terminal: "\ec20";
$icon-text-height: "\ec21";
$icon-text-width: "\ec22";
$icon-th-large: "\ec23";
$icon-th-list: "\ec24";
$icon-th: "\ec25";
$icon-theater-masks: "\ec26";
$icon-thermometer-empty: "\ec27";
$icon-thermometer-full: "\ec28";
$icon-thermometer-half: "\ec29";
$icon-thermometer-quarter: "\ec2a";
$icon-thermometer-three-quarters: "\ec2b";
$icon-thermometer: "\ec2c";
$icon-thumbs-down: "\ec2d";
$icon-thumbs-up: "\ec2e";
$icon-thumbtack: "\ec2f";
$icon-ticket-alt: "\ec30";
$icon-times-circle: "\ec31";
$icon-times: "\ec32";
$icon-tint-slash: "\ec33";
$icon-tint: "\ec34";
$icon-tired: "\ec35";
$icon-toggle-off: "\ec36";
$icon-toggle-on: "\ec37";
$icon-toolbox: "\ec38";
$icon-tooth: "\ec39";
$icon-torah: "\ec3a";
$icon-torii-gate: "\ec3b";
$icon-trademark: "\ec3c";
$icon-traffic-light: "\ec3d";
$icon-train: "\ec3e";
$icon-transgender-alt: "\ec3f";
$icon-transgender: "\ec40";
$icon-trash-alt: "\ec41";
$icon-trash: "\ec42";
$icon-tree: "\ec43";
$icon-trophy: "\ec44";
$icon-truck-loading: "\ec45";
$icon-truck-monster: "\ec46";
$icon-truck-moving: "\ec47";
$icon-truck-pickup: "\ec48";
$icon-truck: "\ec49";
$icon-tshirt: "\ec4a";
$icon-tty: "\ec4b";
$icon-tv: "\ec4c";
$icon-umbrella-beach: "\ec4d";
$icon-umbrella: "\ec4e";
$icon-underline: "\ec4f";
$icon-undo-alt: "\ec50";
$icon-undo: "\ec51";
$icon-universal-access: "\ec52";
$icon-university: "\ec53";
$icon-unlink: "\ec54";
$icon-unlock-alt: "\ec55";
$icon-unlock: "\ec56";
$icon-upload: "\ec57";
$icon-user-alt-slash: "\ec58";
$icon-user-alt: "\ec59";
$icon-user-astronaut: "\ec5a";
$icon-user-check: "\ec5b";
$icon-user-circle: "\ec5c";
$icon-user-clock: "\ec5d";
$icon-user-cog: "\ec5e";
$icon-user-edit: "\ec5f";
$icon-user-friends: "\ec60";
$icon-user-graduate: "\ec61";
$icon-user-lock: "\ec62";
$icon-user-md: "\ec63";
$icon-user-minus: "\ec64";
$icon-user-ninja: "\ec65";
$icon-user-plus: "\ec66";
$icon-user-secret: "\ec67";
$icon-user-shield: "\ec68";
$icon-user-slash: "\ec69";
$icon-user-tag: "\ec6a";
$icon-user-tie: "\ec6b";
$icon-user-times: "\ec6c";
$icon-user: "\ec6d";
$icon-users-cog: "\ec6e";
$icon-users: "\ec6f";
$icon-utensil-spoon: "\ec70";
$icon-utensils: "\ec71";
$icon-vector-square: "\ec72";
$icon-venus-double: "\ec73";
$icon-venus-mars: "\ec74";
$icon-venus: "\ec75";
$icon-vial: "\ec76";
$icon-vials: "\ec77";
$icon-video-slash: "\ec78";
$icon-video: "\ec79";
$icon-vihara: "\ec7a";
$icon-volleyball-ball: "\ec7b";
$icon-volume-down: "\ec7c";
$icon-volume-off: "\ec7d";
$icon-volume-up: "\ec7e";
$icon-walking: "\ec7f";
$icon-wallet: "\ec80";
$icon-warehouse: "\ec81";
$icon-weight-hanging: "\ec82";
$icon-weight: "\ec83";
$icon-wheelchair: "\ec84";
$icon-wifi: "\ec85";
$icon-window-close: "\ec86";
$icon-window-maximize: "\ec87";
$icon-window-minimize: "\ec88";
$icon-window-restore: "\ec89";
$icon-wine-glass-alt: "\ec8a";
$icon-wine-glass: "\ec8b";
$icon-won-sign: "\ec8c";
$icon-wrench: "\ec8d";
$icon-x-ray: "\ec8e";
$icon-yen-sign: "\ec8f";
$icon-yin-yang: "\ec90";
$icon-address-book1: "\ec91";
$icon-address-card1: "\ec92";
$icon-angry1: "\ec93";
$icon-arrow-alt-circle-down1: "\ec94";
$icon-arrow-alt-circle-left1: "\ec95";
$icon-arrow-alt-circle-right1: "\ec96";
$icon-arrow-alt-circle-up1: "\ec97";
$icon-bell-slash1: "\ec98";
$icon-bell1: "\ec99";
$icon-bookmark1: "\ec9a";
$icon-building1: "\ec9b";
$icon-calendar-alt1: "\ec9c";
$icon-calendar-check1: "\ec9d";
$icon-calendar-minus1: "\ec9e";
$icon-calendar-plus1: "\ec9f";
$icon-calendar-times1: "\eca0";
$icon-calendar1: "\eca1";
$icon-caret-square-down1: "\eca2";
$icon-caret-square-left1: "\eca3";
$icon-caret-square-right1: "\eca4";
$icon-caret-square-up1: "\eca5";
$icon-chart-bar1: "\eca6";
$icon-check-circle1: "\eca7";
$icon-check-square1: "\eca8";
$icon-circle1: "\eca9";
$icon-clipboard1: "\ecaa";
$icon-clock1: "\ecab";
$icon-clone1: "\ecac";
$icon-closed-captioning1: "\ecad";
$icon-comment-alt1: "\ecae";
$icon-comment-dots1: "\ecaf";
$icon-comment1: "\ecb0";
$icon-comments2: "\ecb1";
$icon-compass1: "\ecb2";
$icon-copy1: "\ecb3";
$icon-copyright1: "\ecb4";
$icon-credit-card1: "\ecb5";
$icon-dizzy1: "\ecb6";
$icon-dot-circle1: "\ecb7";
$icon-edit1: "\ecb8";
$icon-envelope-open1: "\ecb9";
$icon-envelope1: "\ecba";
$icon-eye-slash1: "\ecbb";
$icon-eye2: "\ecbc";
$icon-file-alt1: "\ecbd";
$icon-file-archive1: "\ecbe";
$icon-file-audio1: "\ecbf";
$icon-file-code1: "\ecc0";
$icon-file-excel1: "\ecc1";
$icon-file-image1: "\ecc2";
$icon-file-pdf1: "\ecc3";
$icon-file-powerpoint1: "\ecc4";
$icon-file-video1: "\ecc5";
$icon-file-word1: "\ecc6";
$icon-file1: "\ecc7";
$icon-flag1: "\ecc8";
$icon-flushed1: "\ecc9";
$icon-folder-open1: "\ecca";
$icon-folder1: "\eccb";
$icon-frown-open1: "\eccc";
$icon-frown1: "\eccd";
$icon-futbol1: "\ecce";
$icon-gem1: "\eccf";
$icon-grimace1: "\ecd0";
$icon-grin-alt1: "\ecd1";
$icon-grin-beam-sweat1: "\ecd2";
$icon-grin-beam1: "\ecd3";
$icon-grin-hearts1: "\ecd4";
$icon-grin-squint-tears1: "\ecd5";
$icon-grin-squint1: "\ecd6";
$icon-grin-stars1: "\ecd7";
$icon-grin-tears1: "\ecd8";
$icon-grin-tongue-squint1: "\ecd9";
$icon-grin-tongue-wink1: "\ecda";
$icon-grin-tongue1: "\ecdb";
$icon-grin-wink1: "\ecdc";
$icon-grin1: "\ecdd";
$icon-hand-lizard1: "\ecde";
$icon-hand-paper1: "\ecdf";
$icon-hand-peace1: "\ece0";
$icon-hand-point-down1: "\ece1";
$icon-hand-point-left1: "\ece2";
$icon-hand-point-right1: "\ece3";
$icon-hand-point-up1: "\ece4";
$icon-hand-pointer1: "\ece5";
$icon-hand-rock1: "\ece6";
$icon-hand-scissors1: "\ece7";
$icon-hand-spock1: "\ece8";
$icon-handshake1: "\ece9";
$icon-hdd1: "\ecea";
$icon-heart1: "\eceb";
$icon-hospital1: "\ecec";
$icon-hourglass1: "\eced";
$icon-id-badge1: "\ecee";
$icon-id-card1: "\ecef";
$icon-image1: "\ecf0";
$icon-images1: "\ecf1";
$icon-keyboard1: "\ecf2";
$icon-kiss-beam1: "\ecf3";
$icon-kiss-wink-heart1: "\ecf4";
$icon-kiss1: "\ecf5";
$icon-laugh-beam1: "\ecf6";
$icon-laugh-squint1: "\ecf7";
$icon-laugh-wink1: "\ecf8";
$icon-laugh1: "\ecf9";
$icon-lemon1: "\ecfa";
$icon-life-ring1: "\ecfb";
$icon-lightbulb1: "\ecfc";
$icon-list-alt1: "\ecfd";
$icon-map1: "\ecfe";
$icon-meh-blank1: "\ecff";
$icon-meh-rolling-eyes1: "\ed00";
$icon-meh1: "\ed01";
$icon-minus-square1: "\ed02";
$icon-money-bill-alt1: "\ed03";
$icon-moon1: "\ed04";
$icon-newspaper1: "\ed05";
$icon-object-group1: "\ed06";
$icon-object-ungroup1: "\ed07";
$icon-paper-plane1: "\ed08";
$icon-pause-circle1: "\ed09";
$icon-play-circle1: "\ed0a";
$icon-plus-square1: "\ed0b";
$icon-question-circle1: "\ed0c";
$icon-registered1: "\ed0d";
$icon-sad-cry1: "\ed0e";
$icon-sad-tear1: "\ed0f";
$icon-save1: "\ed10";
$icon-share-square1: "\ed11";
$icon-smile-beam1: "\ed12";
$icon-smile-wink1: "\ed13";
$icon-smile1: "\ed14";
$icon-snowflake1: "\ed15";
$icon-square1: "\ed16";
$icon-star-half1: "\ed17";
$icon-star3: "\ed18";
$icon-sticky-note1: "\ed19";
$icon-stop-circle1: "\ed1a";
$icon-sun1: "\ed1b";
$icon-surprise1: "\ed1c";
$icon-thumbs-down1: "\ed1d";
$icon-thumbs-up1: "\ed1e";
$icon-times-circle1: "\ed1f";
$icon-tired1: "\ed20";
$icon-trash-alt1: "\ed21";
$icon-user-circle1: "\ed22";
$icon-user1: "\ed23";
$icon-window-close1: "\ed24";
$icon-window-maximize1: "\ed25";
$icon-window-minimize1: "\ed26";
$icon-window-restore1: "\ed27";

