$icomoon-font-path: "fonts" !default;

$icon-Abuse: "\e900";
$icon-android: "\e901";
$icon-apple: "\e902";
$icon-Arrowright: "\e903";
$icon-back-arrow: "\e904";
$icon-bell: "\e905";
$icon-bin1: "\e906";
$icon-bin2: "\e907";
$icon-bin3: "\e908";
$icon-bin4: "\e909";
$icon-block_sign: "\e90a";
$icon-btn-check-inactive: "\e90b";
$icon-btn-check-inactive1: "\e90c";
$icon-btn-close: "\e90d";
$icon-btn-deny: "\e90e";
$icon-btn-ellipsis: "\e90f";
$icon-btn-favorite-false: "\e910";
$icon-btn-message-empty: "\e911";
$icon-btn-message-send1: "\e912";
$icon-btn-message-send: "\e913";
$icon-btn-save: "\e914";
$icon-bubble: "\e915";
$icon-camera-1: "\e916";
$icon-camera: "\e917";
$icon-checklist: "\e918";
$icon-close: "\e919";
$icon-facebook: "\e91a";
$icon-favorite: "\e91b";
$icon-googleplus: "\e91c";
$icon-hamburger-menu: "\e91d";
$icon-hide: "\e91e";
$icon-instagram: "\e91f";
$icon-likes-filled: "\e920";
$icon-likes-open: "\e921";
$icon-lists: "\e922";
$icon-logo-maze-002: "\e923";
$icon-message: "\e924";
$icon-money: "\e925";
$icon-money1: "\e926";
$icon-padlock-locked-1: "\e927";
$icon-padlock-locked: "\e928";
$icon-padlock-unlocked: "\e929";
$icon-pen: "\e92a";
$icon-report: "\e92b";
$icon-search-sm: "\e92c";
$icon-Smileyempty: "\e92d";
$icon-Smileyfull: "\e92e";
$icon-sub-discount-flag: "\e92f";
$icon-time: "\e930";
$icon-twitter: "\e931";
$icon-visitor-1: "\e932";
$icon-visitor: "\e933";
$icon-world: "\e934";

