$icomoon-font-family: "icons0008" !default;
$icomoon-font-path: "fonts" !default;

$icon-calendar: "\e919";
$icon-print: "\e91a";
$icon-dental-edit: "\e91b";
$icon-dental-1: "\e911";
$icon-circle-down: "\e90b";
$icon-circle-left: "\e90c";
$icon-circle-right: "\e90d";
$icon-circle-up: "\e90e";
$icon-circle-vol-1circle: "\e90f";
$icon-clip: "\e910";
$icon-envelope: "\e912";
$icon-exclamation-fill: "\e913";
$icon-exclamation: "\e914";
$icon-pen: "\e915";
$icon-right-arrow: "\e916";
$icon-tick: "\e917";
$icon-writing: "\e918";
$icon-heartbeat: "\e900";
$icon-lock: "\e901";
$icon-running: "\e902";
$icon-shield: "\e903";
$icon-heartbeat1: "\e904";
$icon-security: "\e905";
$icon-ticket: "\e906";
$icon-man-user: "\e907";
$icon-chat: "\e908";
$icon-shopping-cart: "\e909";
$icon-finish: "\e90a";
