$icon-addphoto: "\e900";
$icon-approved: "\e901";
$icon-back: "\e902";
$icon-backarrow: "\e903";
$icon-bell: "\e904";
$icon-bin-o: "\e905";
$icon-bin: "\e906";
$icon-chat: "\e907";
$icon-clock-o: "\e908";
$icon-clock: "\e909";
$icon-clock2-o: "\e90a";
$icon-clock2: "\e90b";
$icon-close: "\e90c";
$icon-delete: "\e90d";
$icon-denied: "\e90e";
$icon-dolar-o: "\e90f";
$icon-dolar: "\e910";
$icon-dropdown: "\e911";
$icon-geotag: "\e912";
$icon-geotag2: "\e913";
$icon-heart-empty: "\e914";
$icon-heart-full: "\e915";
$icon-heart-half: "\e916";
$icon-heart2-o: "\e917";
$icon-heart2: "\e918";
$icon-help: "\e919";
$icon-home: "\e91a";
$icon-key: "\e91b";
$icon-label: "\e91c";
$icon-lock: "\e91d";
$icon-menu1: "\e91e";
$icon-menu2: "\e91f";
$icon-message-o: "\e920";
$icon-message: "\e921";
$icon-message2: "\e922";
$icon-pen: "\e923";
$icon-photo: "\e924";
$icon-picture: "\e925";
$icon-picture2-o: "\e926";
$icon-picture2: "\e927";
$icon-power: "\e928";
$icon-premium: "\e929";
$icon-profile: "\e92a";
$icon-profile2: "\e92b";
$icon-rocket: "\e92c";
$icon-save: "\e92d";
$icon-search: "\e92e";
$icon-send: "\e92f";
$icon-settings: "\e930";
$icon-shield: "\e931";
$icon-smile-o: "\e932";
$icon-smile: "\e933";
$icon-star-empty: "\e934";
$icon-star-full: "\e935";
$icon-star-half: "\e936";
$icon-unlocked: "\e937";
