$icomoon-font-path: "fonts" !default;

$icon-chat: "\e900";
$icon-send: "\e901";
$icon-star_e: "\e902";
$icon-star: "\e903";
$icon-thumb_v: "\e904";
$icon-options: "\e905";
$icon-pending: "\e906";
$icon-previous: "\e907";
$icon-profile: "\e908";
$icon-profile2: "\e909";
$icon-search: "\e90a";
$icon-expand: "\e90b";
$icon-list_v: "\e90c";
$icon-lock: "\e90d";
$icon-menu: "\e90e";
$icon-more: "\e90f";
$icon-delete: "\e910";
$icon-close: "\e911";
$icon-checkmark: "\e912";
$icon-add_photo: "\e913";

