$icomoon-font-path: "fonts" !default;

$icon-airplane: "\e600";
$icon-attention: "\e601";
$icon-back_arrow: "\e602";
$icon-bell: "\e603";
$icon-bin1: "\e604";
$icon-bin2: "\e605";
$icon-bin3: "\e606";
$icon-block_sign: "\e607";
$icon-browse_members: "\e608";
$icon-bubble: "\e609";
$icon-calendar: "\e60a";
$icon-camera1: "\e60b";
$icon-camera2: "\e60c";
$icon-chat: "\e60d";
$icon-chat1: "\e60e";
$icon-checkmarkfull: "\e60f";
$icon-clock: "\e610";
$icon-cog: "\e611";
$icon-crown: "\e612";
$icon-edit_profile: "\e613";
$icon-eye_plus: "\e614";
$icon-eye: "\e615";
$icon-eye1: "\e616";
$icon-eye3: "\e617";
$icon-f_symbol: "\e618";
$icon-f: "\e619";
$icon-facebook: "\e61a";
$icon-female: "\e61b";
$icon-Filter: "\e61c";
$icon-finger: "\e61d";
$icon-flag: "\e61e";
$icon-geotag1: "\e61f";
$icon-geotag2: "\e620";
$icon-google: "\e621";
$icon-heart_double: "\e622";
$icon-heart_outline: "\e623";
$icon-heart: "\e624";
$icon-home: "\e625";
$icon-home2: "\e626";
$icon-hookup: "\e627";
$icon-key: "\e628";
$icon-link: "\e629";
$icon-logoms: "\e62a";
$icon-m_symbol: "\e62b";
$icon-m: "\e62c";
$icon-male: "\e62d";
$icon-member_plus: "\e62e";
$icon-menu: "\e62f";
$icon-message1: "\e630";
$icon-message2: "\e631";
$icon-minus: "\e632";
$icon-mobile_phone: "\e633";
$icon-ok_icon: "\e634";
$icon-padlock: "\e635";
$icon-phone: "\e636";
$icon-picture_frame: "\e637";
$icon-play: "\e638";
$icon-plus: "\e639";
$icon-power-off: "\e63a";
$icon-profile_negative: "\e63b";
$icon-pushpin: "\e63c";
$icon-puzzle_fit: "\e63d";
$icon-reload: "\e63e";
$icon-remove: "\e63f";
$icon-right2: "\e640";
$icon-search: "\e641";
$icon-send: "\e642";
$icon-share: "\e643";
$icon-skype: "\e644";
$icon-small_view: "\e645";
$icon-smiley_chat: "\e646";
$icon-smiley_dark: "\e647";
$icon-smiley_full: "\e648";
$icon-snapchat: "\e649";
$icon-star: "\e64a";
$icon-strip_mark: "\e64b";
$icon-vlc_payer_icon: "\e64c";
$icon-world: "\e64d";

